language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
matrix:
    include:
      - os: linux
        dist: xenial
      - os: linux
        dist: bionic
addons:
  mariadb: '10.2'
before_install:
  - mysql -u root -e "CREATE DATABASE mad;"
  - mysql -u root -e "CREATE USER 'mad'@'localhost' IDENTIFIED BY 'mad';"
  - mysql -u root -e "GRANT ALL ON mad.* TO 'mad'@'localhost';"
install:
  - pip3 install -r requirements.txt
  - pip3 install flake8 flake8-variables-names flake8-logging-format pep8-naming
script:
  - python3 -m flake8
  - python3 start.py -ut -wm -cm -cf configs/config.ini.travis -mf configs/mappings.travis.json
  - python3 start.py -ut -wm -cf configs/config.ini.travis -mf configs/mappings.travis.json
