aiocache==0.12.1
aiofile==3.8.5
aiohttp==3.8.5
aiohttp-remotes==1.2.0
aiohttp-jinja2==1.5.1
aiohttp-session==2.12.0
aiomysql==0.1.1
aiounittest==1.4.2
alembic==1.10.4
APKMirror-Search==1.0.0
apkutils==1.5.0
asyncio-rlock==0.1.0
bitstring==4.0.2
cachetools==5.3.0
ConfigArgParse==1.5.3
dataclasses==0.6
geopy==2.3.0
gpxdata==1.2.1
grpcio==1.54.0
ImageHash==4.3.1
imutils==0.5.4
Jinja2==3.1.2
loguru==0.7.0
matplotlib==3.7.1
msgpack==1.0.5
multidict==6.0.4
mysql-connector==2.2.9
mysqlclient==2.1.1
numpy==1.24.3
opencv-python==4.7.0.72
orjson==3.8.11
Pillow==9.5.0
protobuf==4.22.3
psutil==5.9.5
PyMySQL==1.0.3
pytesseract==0.3.10
pytz==2023.3
requests==2.31.0
s2sphere==0.2.5
SQLAlchemy==2.0.11
timezonefinder==6.2.0
ujson==5.7.0
urllib3==1.26.15
uvloop==0.17.0
websockets==11.0.2
Werkzeug==2.3.2
yarl==1.9.2
beautifulsoup4==4.12.2
marshmallow-dataclass==8.5.14
marshmallow-enum==1.5.1
typeguard==3.0.2
redis==4.5.4
hiredis==2.2.2
