aiocache==0.12.1
aiofile==3.8.7
aiohttp==3.8.5
aiohttp-remotes==1.2.0
aiohttp-jinja2==1.5.1
aiohttp-session==2.12.0
aiomysql==0.2.0
aiounittest==1.4.2
alembic==1.11.1
APKMirror-Search==1.0.1
apkutils==1.5.1
asyncio-rlock==0.1.0
bitstring==4.0.2
cachetools==5.3.1
ConfigArgParse==1.5.5
dataclasses==0.6
geopy==2.3.0
gpxdata==1.2.1
grpcio==1.56.2
ImageHash==4.3.1
imutils==0.5.4
Jinja2==3.1.2
loguru==0.7.0
matplotlib==3.7.2
msgpack==1.0.5
multidict==6.0.4
mysql-connector==2.2.9
mysqlclient==2.2.0
numpy==1.25.1
opencv-python==4.8.0.74
orjson==3.9.2
Pillow==10.0.0
protobuf==4.23.4
psutil==5.9.5
PyMySQL==1.1.0
pytesseract==0.3.10
pytz==2023.3
requests==2.31.0
s2sphere==0.2.5
SQLAlchemy==2.0.19
timezonefinder==6.2.0
ujson==5.8.0
urllib3==2.0.6
uvloop==0.17.0
websockets==11.0.3
Werkzeug==2.3.6
yarl==1.9.2
beautifulsoup4==4.12.2
marshmallow-dataclass==8.5.14
marshmallow-enum==1.5.1
typeguard==4.0.0
redis==4.6.0
hiredis==2.2.3
