{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<script>
    function setGrid(tableGridHtmlId, gridData) {
        $(tableGridHtmlId).DataTable({
            "data": gridData,
            "columns": [
                { data: 'origin', title: 'Device', responsivePriority: 1},
                { data: 'job_name', title: 'File / Command', responsivePriority: 3 },
                { data: 'last_status', title: 'Status', responsivePriority: 2 },
                { data: null, title: 'Job ID',responsivePriority: 6 },
                { data: null, title: 'Date/Time', responsivePriority: 5 },
                { data: null, title: 'Action',responsivePriority: 4 }
            ],
            "columnDefs": [
                {
                    "targets": [1],
                    "render": function (data, type, row) {
                        let rendered_data = row.job_name + "<br>"
                        if (row.sub_jobs.length > 1) {
                            rendered_data += "At index " + row.sub_job_index + "<br>"
                        }
                        if (typeof row.returning === "undefined" || row.returning === null) {
                            rendered_data += "<p id='info'>-</p>";
                        } else if (row.returning.includes('unknown command')) {
                            rendered_data += "<p id='outdated'>OUTDATED RGC VERSION - PLEASE UPDATE</div>";
                        } else {
                            rendered_data += "<p id='info'>" + row.returning + "</p>";
                        }
                        return rendered_data;
                    }
                },
                {
                    "targets": [5],
                    "render": function (data, type, row) {
                         var redolink = "";
                         var link = "<i class='fa fa-car'></i>";

                         if(!row.auto) {
                             link = "<a href='delete_log_entry?id=" + row.id + "' class='confirm' title='Do you really want to delete this entry?'><i class='fa fa-trash'></i></a>";
                             redolink = "<a href='restart_job?id=" + row.id + "&type=" + row.jobtype + "' class='confirm' title='Do you really want to restart this job?'><i class='fas fa-undo'></i></a>";
                         }

                         return link + " " + redolink;
                    }
                },
                {
                    "targets": [3],
                    "render": function (data, type, row) {
                        return row.id;
                    }
                },
                {
                    "targets": [4],
                    "render": function (data, type, row) {

                        let nextdatetime = "-";

                        if ('processing_date' in row) {
                            nextdatetime = tstodt(row.processing_date);
                        }

                         return "<b>Processed / Processing at: </b> " + nextdatetime + "<br><b>Attempt: </b> " + row.counter;
                    }
                }
            ],
            "order": [[3, "desc"]],
            "responsive": {{ responsive }},
            "stateSave": true,
            "stripeClasses": [ 'odd', 'even' ],
            "stateSaveCallback": function(settings,data) {
            localStorage.setItem( 'MAD_INSTALL_STATUS_' + settings.sInstance, JSON.stringify(data) )
            },
            "stateLoadCallback": function(settings) {
            return JSON.parse( localStorage.getItem( 'MAD_INSTALL_STATUS_' + settings.sInstance ) )
            }
        });
	}

	function tstodt(ts) {
	                     var date = new Date(ts*1000);
                         var hours = date.getHours();
                         var minutes = "0" + date.getMinutes();
                         var seconds = "0" + date.getSeconds();
                         var year = date.getFullYear();
                         var month = "0" + (date.getMonth() + 1);
                         var day = "0" + date.getDate();

                         var link = year + '-' + month.substr(-2) + '-' +  day.substr(-2) + ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);

                         return link;
	}

    $(document).ready(function () {
        $('body').Aplus();
        $("#navgyms").addClass("active");
        $.ajax({
            type: "GET",
            {% if withautojobs == "true" %}
                url: "get_install_log?withautojobs=true",
            {% else %}
                url: "get_install_log",
            {% endif %}
            success: function (result) {
                setGrid('#show-data', result);
            }
        });
    });
</script>
<style>
	p#outdated {
        color: red;
        font-weight: 700;
    }
    p#info {
        color: black;
        font-weight: 200;
    }
    table.dataTable tr.odd { background-color: #F8F8F8; }
    table.dataTable tr.even { background-color: white; }
</style>
{% endblock %}

{% block content %}
<h2>Job status</h2>
<table id="show-data" class="table" style="width:100%;"></table>
{% if not withautojobs %}
<i class='fa fa-trash'></i> <a href="delete_log" class='confirm' title='Do you really want to delete the log?'>Delete Job Log</a><br>
<i class='fa fa-trash'></i> <a href="delete_log?only_success=true" class='confirm' title='Do you really want to delete the logs?'>Delete successful Jobs</a>
{% endif %}
{% endblock %}
