{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('.upload').on('click', function() {
        $("#apk_type").val($(this).data('apk_type'));
        $("#apk_arch").val($(this).data('apk_arch'));
        if($(this).data('apk_type') != undefined && $(this).data('apk_arch') != undefined) {
            $('#file-input').trigger('click');
        }
    });

    $(".reload_wiz").click(function() {
        url = '{{ url_for('api_madapk') }}/reload';
        $.ajax({
            url: url,
            type: 'GET',
            success:function(data, status, xhr){
                if(xhr.status == 200) {
                    $.unblockUI();
                    alert('Wizard re-caching complete');
                    location.reload();
                }
                $.unblockUI();
            },
            error:function(data, status, xhr) {
                alert('Something bad happened.  Check server logs');
                $.unblockUI();
            }
        });
    });

    $('#file-input').on('change', function () {
        url = '{{ url_for('api_madapk') }}/'+ $("#apk_type").val() + '/'+ $("#apk_arch").val();
        var fd = new FormData();
        fd.append('file', $('#file-input')[0].files[0]);
        fd.append('filename', $('#file-input')[0].files[0].name);
        loadingBlockUI("Uploading APK")
        $.ajax({
            url: url,
            type: 'POST',
            data: fd,
            success:function(data, status, xhr){
                if(xhr.status == 201) {
                    $.unblockUI();
                    alert('Successfully uploaded the file');
                    location.reload();
                }
                $.unblockUI();
            },
            error:function(data, status, xhr) {
                alert(data.responseText);
                $.unblockUI();
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });


    $(".search").click(function() {
        if(confirm('Are you sure you want to search for an updated APK?  Currently no locks so dont spam it :)')) {
            loadingBlockUI("Starting search")
            rpc_call = {
              'call': 'search'
            }
            url = '{{ url_for('api_madapk') }}/'+ $(this).data('apk_type') + '/'+ $(this).data('apk_arch');
            $.ajax({
                url : url,
                contentType : 'application/json-rpc',
                data: JSON.stringify(rpc_call),
                type : 'POST',
                success: function(data, status, xhr) {
                    if(xhr.status == 204) {
                      alert('Searching for new APK successfully started');
                    }
                    $.unblockUI();
                    location.reload();
                },
                error: function(data, status, xhr) {
                    alert('Unable to start the search.  Please look at server logs');

                    location.reload();
                }
            });
        }
    });

    $(".bulk_update").click(function() {
        if(confirm('Are you sure you want to Update and Download every APK?')) {
            loadingBlockUI("Bulk Updating")
            rpc_call = {
              'call': 'search_download'
            }
            $.ajax({
                contentType : 'application/json-rpc',
                url : '{{ url_for('api_madapk') }}',
                data: JSON.stringify(rpc_call),
                type : 'POST',
                success: function(data, status, xhr) {
                    if(xhr.status == 204) {
                        location.reload();
                    }
                    $.unblockUI();
                },
                error: function(data, status, xhr) {
                    alert('Unable to delete the APK.  An unknown error occurred');
                    $.unblockUI();
                    location.reload();
                },
            });
        }
    });

    $(".delete").click(function() {
        if(confirm('Are you sure you want to delete this APK?')) {
            var elem =  $(this);
            loadingBlockUI("Deleting an APK")
            var apk_type = $(this).data('apk_type');
            var apk_arch = $(this).data('apk_arch');
            var url = '{{ url_for('api_madapk') }}/'+ apk_type +'/'+ apk_arch;
            $.ajax({
                url : '{{ url_for('api_madapk') }}/'+ apk_type +'/'+ apk_arch,
                type : 'DELETE',
                success: function(data, status, xhr) {
                    if(xhr.status == 202) {
                        location.reload();
                    }
                    $.unblockUI();
                    location.reload();
                },
                error: function(data, status, xhr) {
                    alert('Unable to delete the APK.  An unknown error occurred');
                    $.unblockUI();
                    location.reload();
                },
            });
        }
    });

  function check_apk_status() {
    $.ajax({
        url : '{{ url_for('apk_update_status') }}',
        type : 'GET',
        success: function(data, status, xhr) {
            if(xhr.status == 200) {
              var apk_status = xhr.responseJSON;
              $.each($(".update_status"), function () {
                var apk_type = $(this).data('apk_type');
                var apk_arch = $(this).data('apk_arch');
                var status = $(this).data('status');
                var composite_key = apk_type +'_'+ apk_arch;
                var elem;
                if(apk_status.hasOwnProperty(composite_key)) {
                  // Currently downloading
                  if(apk_status[composite_key].hasOwnProperty('download_status')) {
                    elem = $(document.createElement("img")).attr({
                      'src': "{{ url_for('static', filename='loading.gif') }}",
                      'class': 'apk_disp',
                      'data-apk_type': apk_type,
                      'data-apk_arch': apk_arch,
                      'data-status': 2,
                      'width': '32px',
                      'heigth': '30px'
                    });
                  } else {
                    // Update available
                    var fa_img = $(document.createElement("i")).attr({
                      'class': "fa fa-cloud-upload-alt"
                    });
                    elem = $(document.createElement("button")).attr({
                      'class': 'apk_disp btn btn-info btn-sm',
                      'data-apk_type': apk_type,
                      'data-apk_arch': apk_arch,
                      'data-status': 1,
                      'width': '32px',
                      'heigth': '30px'
                    }).bind('click', download_apk).append(fa_img);
                  }
                } else {
                    if($(this).find('img').data('status') == 2) {
                        location.reload();
                    } else {
                        $(this).empty();
                    }
                }
                if(elem) {
                  $(this).empty().append(elem);
                }
              });
            }
        },
        error: function(data, status, xhr) {
            alert('Unable to get apk update status.  Can you reach the server?');
        }
    });
  }

    function download_apk(){
        if(confirm('Are you sure you want to download the APK?')) {
            loadingBlockUI("Starting download")
            rpc_call = {
              'call': 'import'
            }
            url = '{{ url_for('api_madapk') }}/'+ $(this).data('apk_type') + '/'+ $(this).data('apk_arch');
            $.ajax({
                url : url,
                contentType : 'application/json-rpc',
                data: JSON.stringify(rpc_call),
                type : 'POST',
                success: function(data, status, xhr) {
                    if(xhr.status == 204) {
                      check_apk_status();
                      alert('Downloading APK successfully started');
                    }
                    $.unblockUI();
                },
                error: function(data, status, xhr) {
                    alert('Unable to start the download.  Please look at server logs');
                    $.unblockUI();
                    location.reload();
                }
            });
        }
    }

    check_apk_status();
    setInterval(check_apk_status, 5000);
  });
</script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="row mt-3">
    <div class="col">
        <div class="alert alert-primary">
            This section allows you to easily manage the required APKs for running MAD.
        </div>
    </div>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div style="clear: both;"></div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th style="width: 20%" class="align-middle">APK Type</th>
                    <th style="width: 40%" class="align-middle">Version</th>
                    <th style="width: 20%" class="align-middle">Architecture</th>
                    <th style="width: 20%" class="text-right align-middle"></th>
                </tr>
            </thead>
            <tbody>
                {% for apk_type, architectures in apks.items()|sort %}
                    {% for architecture, data in architectures.items() %}
                        <tr>
                            <td class="align-middle">{{ data.package.name }}</td>
                            <td class="align-middle">{{ data.version }}</td>
                            <td class="align-middle">{{ data.architecture.name }}</td>
                            <td align="right">
                                <div class='update_status' data-apk_type="{{ apk_type.value }}" data-apk_arch="{{ architecture.value }}" style='display:inline;' data-toggle="tooltip" title="Download newer version"></div>
                                <button type="button" data-apk_type="{{ data.package.name }}" data-apk_arch="{{ data.architecture.name }}" class="search btn btn-success btn-sm" data-toggle="tooltip" title="Search for new version"><i class="fas fa-sync"></i></button>
                                <button type="button" data-apk_type="{{ data.package.name }}" data-apk_arch="{{ data.architecture.name }}" class="upload btn btn-success btn-sm" data-toggle="tooltip" title="Upload APK file"><i class="fas fa-upload"></i></button>
                                {% if data.filename != None %}
                                <button type="button" data-apk_type="{{ data.package.name }}" data-apk_arch="{{ data.architecture.name }}" class="delete btn btn-danger btn-sm" data-toggle="tooltip" title="Delete current file"><i class="fas fa-trash-alt"></i></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <div class="btn-group-vertical float-right">
            <button class="btn btn-info btn-sm nav-link text-uppercase font-weight-bold bulk_update align-items-center mb-1"><i class="fas fa-3x fa-hat-wizard align-middle"></i> Update Everything</button>
            <button class="btn btn-success btn-sm nav-link text-uppercase font-weight-bold reload_wiz align-items-center">Reload / Refresh wizard</button>
        </div>
    </div>
</div>
<div style='display: none;'>
    <form id='upload_form' action="" method="post" enctype="multipart/form-data">
        <input id="file-input" type="file" name="apk" style="display: none;" />
        <input type='text' id="apk_type" name="apk_type"/>
        <input type='text' id="apk_arch" name="apk_arch"/>
    </form>
</div>
{% endblock %}