{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" crossorigin="anonymous">
<style>
  div.container[role="main"] {
    max-width: 100%;
  }

  #devicegrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  #inputdata {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /*width: 80%;*/
  }

  hr {
    border-style: solid;
    border-color: lightgray;
  }

 .screen {
    float: left;
    width: 30%;
    border: black 1px;
    border-style: solid;
    margin: 10px;
    max-width: 350px;
  }

  img.screenshot {
    width: 100%;
  }

 .phonename {
    font-size: large;
    text-align: center;
    background-color: #000;
    width: 100%;
    color: #FFF;
    font-weight: bold;
  }

  .infobar {
    color: #000;
    background: #FFF;
    border-bottom: 1px solid #CCC;
    text-align: center;
    font-size: small;
  }

  .controlButtons {
    background: #FFF;
  }

  .softbar .col,
  .controlButtons .col-md {
    padding-left: 0px;
    padding-right: 0px;
  }

  .controlButtons .col-md {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
  }

  .controlButtons .col-md:last-child {
    border-right: none;
  }

  .controlButtons a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 3px;
  }

  .softbar {
    background: #000;
  }

  .softbar a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 3px;
    color: #FFF;
  }

  .softbar a:hover {
    text-decoration: none;
    color: #007bff;
  }

  .controlButtons a:hover {
    text-decoration: none;
    background-color: #007bff;
    color: #FFF !important;
  }

  .dialog-on-top {
    z-index: 2001 !important;
  }

  @media (max-width: 767.98px) {
    .controlButtons .col-md {
      border-right: none;
    }

    .controlButtons .row:last-child .col-md:first-child {
    border-bottom: 1px solid #CCC;
    }

    .controlButtons .row:last-child .col-md:last-child {
      border-bottom: none;
    }
  }

  @media (max-width: 575.98px) {
    .screen {
      width: 100%;
    }
  }

  [data-theme="dark"] .screen {
    border: 1px solid #AAA;
  }
</style>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script>
  // hack to prevent jQuery UI's tooltips to appear
  var _tooltip = jQuery.fn.tooltip;
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>jQuery.fn.tooltip = _tooltip;</script>
<script>
$(document).ready(function() {

$('body').Aplus();
$('dialog-confirm').dialog();

  $('.date').each(function() {
    var screendate = $(this).text();
    $(this).text(moment(screendate).fromNow());
  })

  $(".action_screenshot").bind("click", function(event) {
      event.preventDefault();
      var origin = $(this).attr("origin");
      var url = $(this).attr("href");
      $('div#' + origin).block({ message: '<img src="{{ url_for("static", filename="loading.gif") }}" width="100px"><br><strong>Load...</strong>' });
      $.ajax({
        type: "GET",
        url: url,
        success: function(data){
            $('#date' + origin + ' span.date').attr('data-original-title', data).tooltip('hide');
            $('#date' + origin + ' span.date').text(moment(data).fromNow());
            $('img#' + origin).attr('src', 'screenshot/madmin/screenshot_' + origin + '.jpg?cachebuster=' + Math.round(new Date().getTime() / 1000));
            $('div#' + origin).unblock();
        }
     });
   });

  $(".action_quit").bind("click", function(event) {
    event.preventDefault();
    var origin = $(this).attr("origin");
    var url = $(this).attr("href");

    $("#dialog-confirm").dialog({
        draggable: false,
        resizable: false,
        height: "auto",
        title: origin,
        dialogClass: "dialog-on-top",
        width: "auto",
        modal: true,
        buttons: [
            {
                text: "Quit",
                icon: "ui-icon-power",
                click: function() {
                     $(this).dialog("close");
                  $('div#' + origin).block({ message: '<img src="{{ url_for("static", filename="loading.gif") }}" width="100px"><br><strong>Load...</strong>' });
                     $.ajax({
                         type: "GET",
                         url: url,
                         success: function(data){
                             $('#date' + origin).text(data);
                             $('img#' + origin).attr('src', 'screenshot/madmin/screenshot_' + origin + '.jpg?cachebuster=' + Math.round(new Date().getTime() / 1000));
                             $('div#' + origin).unblock();
                         }
                     });
                }
            },
            {
                text: "Start/Restart",
                icon: "ui-icon-refresh",
                click: function() {
                    $(this).dialog("close");
                    url = url + "&restart=1"
                    $('div#' + origin).block({ message: '<img src="{{ url_for('static', filename='loading.gif') }}" width="100px"><br><strong>Load...</strong>' });
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function(data){
                            $('#date' + origin).text(data);
                            $('img#' + origin).attr('src', 'screenshot/madmin/screenshot_' + origin + '.jpg?cachebuster=' + Math.round(new Date().getTime() / 1000));
                            $('div#' + origin).unblock();
                        }
                    });
                }
            },
            {
                text: "Cancel",
                click: function() {
                    $(this).dialog("close");
                }
            }
        ]
    });
  });


  $(".backbutton").bind("click", function(event) {
       event.preventDefault();
       var origin = $(this).attr("origin");
       var adb = $(this).attr("adb");
       var url = $(this).attr("href");
       $('div#' + origin).block({ message: '<img src="{{ url_for('static', filename='loading.gif') }}" width="100px"><br><strong>Load...</strong>' });
       $.ajax({
       type: "GET",
       url: 'send_command?origin=' + origin + '&command=back&adb=' + adb,
       success: function(data){
           $('#date' + origin).text(data);
           $('img#' + origin).attr('src', 'screenshot/madmin/screenshot_' + origin + '.jpg?cachebuster=' + Math.round(new Date().getTime() / 1000));
           $('div#' + origin).unblock();
       }
     });
   });

  $(".homebutton").bind("click", function(event) {
       event.preventDefault();
       var origin = $(this).attr("origin");
       var adb = $(this).attr("adb");
       var url = $(this).attr("href");
       $('div#' + origin).block({ message: '<img src="{{ url_for('static', filename='loading.gif') }}" width="100px"><br><strong>Load...</strong>' });
       $.ajax({
       type: "GET",
       url: 'send_command?origin=' + origin + '&command=home&adb=' + adb,
       success: function(data){
           $('#date' + origin).text(data);
           $('img#' + origin).attr('src', 'screenshot/madmin/screenshot_' + origin + '.jpg?cachebuster=' + Math.round(new Date().getTime() / 1000));
           $('div#' + origin).unblock();
       }
     });
   });

  $(".gpsbutton").bind("click", function(event) {
       event.preventDefault();
       var coords = prompt("Enter the coordinates you want to send your device to. The device will continue its normal route afterwards:", "0.0,0.0");

       if (coords != null) {
           var sleeptime = prompt("Additional sleeptime after geofix (in seconds)?", "0");
           if (sleeptime == null || sleeptime == "") { sleeptime = 0 }
           var origin = $(this).attr("origin");
           var adb = $(this).attr("adb");
           var url = $(this).attr("href");
           $('div#' + origin).block({ message: '<img src="{{ url_for('static', filename='loading.gif') }}" width="100px"><br><strong>Load...</strong>' });
           $.ajax({
               type: "GET",
               url: 'send_gps?origin=' + origin + '&coords=' + coords + '&adb=' + adb + '&sleeptime=' + sleeptime,
               success: function(data){
                   $('#date' + origin).text(data);
                   $('img#' + origin).attr('src', 'screenshot/madmin/screenshot_' + origin + '.jpg?cachebuster=' + Math.round(new Date().getTime() / 1000));
                   $('div#' + origin).unblock();
               }
           });
       };
   });

  $(".keyboardbutton").bind("click", function(event) {
       event.preventDefault();
       var text = prompt("Please enter text:", "");
       if (text != null) {
           var origin = $(this).attr("origin");
           var adb = $(this).attr("adb");
           var url = $(this).attr("href");
           $('div#' + origin).block({ message: '<img src="{{ url_for('static', filename='loading.gif') }}" width="100px"><br><strong>Load...</strong>' });
           $.ajax({
               type: "GET",
               url: 'send_text?origin=' + origin + '&text=' + text + '&adb=' + adb,
               success: function(data){
                   $('#date' + origin).text(data);
                   $('img#' + origin).attr('src', 'screenshot/madmin/screenshot_' + origin + '.jpg?cachebuster=' + Math.round(new Date().getTime() / 1000));
                   $('div#' + origin).unblock();
               }
           });
       };
   });

  $(".downloadbutton").bind("click", function(event) {
       event.preventDefault();
       var origin = $(this).attr("origin");
       var img = $('img#' + origin).attr("src").replace("/madmin", "");
       window.open(img, '_blank');
  });


$(".screenshot").mousedown(function(e){
  e.preventDefault();

    $(this).data("tracking",true);
    $(this).data("start",{x:e.offsetX,y:e.offsetY,
                          xe:e.offsetX,ye:e.offsetY});
}).mousemove(function(e){
    if($(this).data("tracking")){
        var start = $(this).data("start");
        var w = Math.abs(e.offsetX);
        var h = Math.abs(e.offsetY);
        $(this).data("start",{x:start.x,y:start.y,
                              xe:w, ye:h});

    }
}).mouseup(function(e){
    $(this).data("tracking",false);
    var start = $(this).data("start");
    var id = event.target.id;
    var adb = $(this).attr("adb");
    var imagex = this.width / (start.x );
    var imagey = this.height / (start.y);
    var imagexe = this.width / (start.xe );
    var imageye = this.height / (start.ye);
    if (start.x == start.xe && start.y == start.ye) {
        var url = 'click_screenshot?origin=' + id +'&clickx=' + imagex +'&clicky=' + imagey + '&adb=' + adb
    } else {
        var url = 'swipe_screenshot?origin=' + id +'&clickx=' + imagex +'&clicky=' + imagey + '&adb=' + adb + '&clickxe=' + imagexe +'&clickye=' + imageye
    }
    $('div#' + id).block({ message: '<img src="{{ url_for('static', filename='loading.gif') }}" width="100px"><br><h2>Load...</h2>' });
       $.ajax({
       type: "GET",
       url: url,
       success: function(data){
           $('#date' + id).text(data);
           $('img#' + id).attr('src', 'screenshot/madmin/screenshot_' + id + '.jpg?cachebuster=' + Math.round(new Date().getTime() / 1000));
           $('div#' + id).unblock();
       }
    });


});

  });



</script>
{% endblock %}

{% block content %}

<h2>{{header | safe }}</h2>
<div class="alert alert-info">You can control your devices from here. Clicks and swipes will be sent to the device. After each action, a screenshot will be taken.</div>
<div id="devicegrid">
  {% for item in editform %}
  {{item | safe }}
  {% endfor %}
</div>
<div id="dialog-confirm" style="display:none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Quit or Restart game?</p>
</div>

{% endblock %}
