{% extends "base.html" %}

{% block header %}
<style>
    .pokestopimg {
        border: 3px solid #36c6ff;
        width: 70px;
        height: 70px;
        background-size: cover;
        display: block;
        border-radius: 50px;
        margin: auto;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
function setGrid(tableGridHtmlId, gridData) {
    $(tableGridHtmlId).DataTable({
        "data": gridData,
        "responsive": {{ responsive }},
        "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
        "columns": [
            { data: null, title: 'Pokestop', responsivePriority: 1 },
            { data: null, title: 'Reward', responsivePriority: 2 },
            { data: 'quest_task', title: 'Quest', responsivePriority: 3}
        ],
        "columnDefs": [
            {
                "targets": [0],
                "render": function (data, type, row) {
                    var img = '';
                    if (row.url !== null) {
                        var url = row.url.replace('http://', 'https://')
                        img = `<img class='lazy pokestopimg mr-3' data-original='${url}' width=100>`;
                    }
                    var name = build_name(row)
                    return `<div class="media">${img}<div class="media-body">${name}</div></div>`
                }
            },
            {
                "targets": [1],
                "render": function (data, type, row) {
                    //TODO use form names in rewards
                    var reward_text = build_reward_text(row.quest_reward_type_raw, row.item_amount, row.pokemon_name, row.item_type);
                    var reward_icon = build_quest_small(row.quest_reward_type_raw, row.item_id, row.pokemon_id, row.pokemon_form, row.pokemon_asset_bundle_id, row.pokemon_costume);
                    return `<div class="media">${reward_icon}<div class="media-body">${reward_text}</div></div>`
                }
            }
        ],
        "drawCallback": function () {
            $("img.lazy").lazyload();
        },
        "autoWidth": false,
        "stateSave": true,
        "stateDuration": 0
    });
}

$(document).ready(function() {
    $("#navgyms").addClass("active");
    loadingBlockUI("Loading")
    $.ajax({
        type: "GET",
        url: "{{ url_for('get_quests') }}?fence={{fence}}",
        success: function (result) {
            setGrid('#show-data', result);
        },
        complete: function() {
            setTimeout($.unblockUI, 500);
        }
    });
    $('#area').change(function() {
        area = $(this).find("option:selected").attr('value');
        {% if pub %}
            window.location.href = '{{ url_for('quest_pub') }}?fence=' + area
        {% else %}
            window.location.href = '{{ url_for('quest') }}?fence=' + area
        {% endif %}
    });
});

function build_name(row) {
    var name = row.name + '<br>';
    var lat = row.latitude;
    var lon = row.longitude;
    if (lat && lon) {
        name += '<a href="https://maps.google.com/?q=' + lat + ',' + lon + '" target="_blank">'+ lat +', '+ lon +'</a>';
    }
    return name;
}

function build_reward_text(quest_reward_type, quest_item_amount, monname, quest_item_name) {
    switch (quest_reward_type) {
        case 2:
            var rewardtext = quest_item_name + '<br>Pieces: ' + quest_item_amount;
            break;
        case 3:
            var rewardtext = quest_item_name + '<br>Amount: ' + quest_item_amount;
            break;
        case 7:
            var rewardtext = monname;
            break;
        case 12:
            var rewardtext = monname + " " + quest_item_name + '<br>Amount: ' + quest_item_amount;
            break;
    }
    return rewardtext;
}

function build_quest_small(quest_reward_type, quest_item_id, quest_pokemon_id, quest_pokemon_form_id, quest_pokemon_asset_bundle_id, quest_pokemon_costume_id) {
    switch (quest_reward_type) {
        case 2:
            var image = '<img class="mr-3" src="static/quest/reward_' + quest_item_id + '_1.png" width="50">';
            break;
        case 3:
            var image = '<img class="mr-3" src="static/quest/reward_stardust.png" width="50">';
            break;
        case 7:
            var costume = ''
            if (quest_pokemon_costume_id != '00') {
              costume = `_${quest_pokemon_costume_id}`
            }

            var iconBasePath = 'https://raw.githubusercontent.com/whitewillem/PogoAssets/resized/no_border'
            var url = `${iconBasePath}/pokemon_icon_${String.prototype.padStart.call(quest_pokemon_id, 3, 0)}_${quest_pokemon_form_id}${costume}.png`;
            var image = `<img class="mr-3" src="${url}" width="50">`;
            break;
        case 12:
            var url = 'https://raw.githubusercontent.com/whitewillem/PogoAssets/resized/icons_large/rewards/reward_mega_energy.png'
            var image = `<img class="mr-3" src="${url}" width="50">`;
            break;

    }
    return image;
}

</script>
{% endblock %}

{% block content %}
{% if not pub %}
<h2>Quests</h2>
{% endif %}
<div class="p-1 mb-1 bg-secondary text-white rounded">
        <h5>Select Area</h5><select id=area name=area method="GET" action="/">
    {% for stop_fence in stop_fences %}
         {% if stop_fence == fence %}
              <option value= "{{stop_fence}}" SELECTED>{{stop_fence}}</option>"
         {% else %}
               <option value= "{{stop_fence}}">{{stop_fence}}</option>"
         {% endif %}
    {% endfor %}
</select>
 </div>
<table id="show-data" class="table"></table>
{% endblock %}
