{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js" integrity="sha256-bu/BP02YMudBc96kI7yklc639Mu4iKGUNNcam8D2nLc="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js" integrity="sha256-Z3MmjesRY6rcd+sYj8tTwb/+EV/4msqGW7EZiQc3TK8="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/madmin_settings.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").click(function() {
            loadingBlockUI('Saving {{ subtab }}');
            save_data = get_save_data();
            if(isEmptyObj(save_data) != false) {
                alert('No changes have been made');
                window.location.replace('{{ redirect }}');
            } else {
                process_api_request("{{ uri }}", "{{ method }}", "{{ redirect }}");
            }
        });

        $(".delete").click(function() {
            var row = $(this).parent().parent();
            msg = 'Are you sure you want to remove row'+ $(this).data('identifier');
            if(confirm(msg)) {
                $(row).remove();
                processChange();
            }
        });
    });

    var fixHelper = function(e, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    };

    $( "tbody" ).sortable({
        helper: fixHelper,
        handle: '.handle',
        delay: 150,
        stop: function() {
            processChange()
        }
    }).disableSelection();

    function generateAreas() {
        var areas = [];
        $('.row_position tr').each(function () {
            areas.push(this.id);
        });
        return areas;
    }

    function processChange() {
        $('.row_position tr').each(function (index) {
            $(this).find('.index')[0].innerHTML = index+1;
            $(this).find('.delete').attr('data-identifier', index+1);
        });
    }

</script>
{% endblock %}

{% block content %}
{{ super() }}


<h1 class="display-5">{{ element.walkername }}</h1>
<div class="row">
    <div class="col-sm">
        <div class="form-group">
            <label for="walkername">walkername</label>
            <input type="input" class="form-control" id="walkername" name="walkername" value="{{ element.walkername }}" data-default="{{ element.walkername }}">
            <small class="form-text text-muted">Name for the walker</small>
        </div>
        <div class="form-group">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th class="align-middle">Area</th>
                        <th class="align-middle">Walker mode</th>
                        <th class="align-middle">Setting</th>
                        <th class="align-middle">Max devices</th>
                        <th class="align-middle">Event</th>
                        <th>{% if uri != url_for('api_walker') %}<a href='{{ url_for('settings_walker_area', id=identifier) }}'><button type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button></a>{% endif %}</th>
                    </tr>
                </tbody>
                <tbody class="row_position ui-sortable">
                    {% for walkerarea_uri in element.setup %}
                        {% set area = walkerarea[walkerarea_uri] %}
                        <tr id='{{ url_for('api_walkerarea') }}/{{ walkerarea_uri }}'>
                            <td><i class="fa fa-fw fa-sort handle ui-sortable-handle"></i></td>
                            <td class='walkerarea' data-save='{{ area.walkerarea }}' data-walkertext='{{ area.walkertext }}'><a href="{{ url_for('settings_areas', id=area['walkerarea'], mode=areas[area['walkerarea']].area_type) }}">{{ areas[area['walkerarea']].name }}</a><br>{{ area.walkertext }}</td>
                            <td class='walkertype' data-save='{{ area.walkertype }}'>{{ area.walkertype }}</td>
                            <td class='walkervalue' data-save='{{ area.walkervalue }}'>{{ area.walkervalue }}</td>
                            <td class='walkermax' data-save='{{ area.walkermax }}'>{{ area.walkermax }}</td>
                            <td class='eventid' data-save='{{ area.eventid }}'>{{ area.eventid }}</td>
                            <td>
                                <a href="{{ url_for('settings_walker_area', id=identifier, walkerarea=walkerarea_uri) }}"><button type="button" class="btn btn-success btn-sm edit" data-identifier="{{ loop.index }}"><i class="far fa-edit"></i></button></a>
                                <button type="button" class="btn btn-danger btn-sm delete" data-identifier="{{ loop.index }}"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id='selected-pokemon' style='display:none;' class="row_position ui-sortable form-control" name='setup' data-callback='generateAreas' data-default="{{ element.setup }}"></div>
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
</div>
{% endblock %}

