{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<nav class="nav nav-pills nav-fill mt-3 mb-3 flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "area" }}" href="{{ url_for('settings_areas') }}">Areas</a>
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "auth" }}" href="{{ url_for('settings_auth') }}">Auth</a>
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "device"}}" href="{{ url_for('settings_devices') }}">Devices</a>
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "geofence" }}" href="{{ url_for('settings_geofence') }}">Geofences</a>
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "monivlist" }}" href="{{ url_for('settings_ivlists') }}">IV lists</a>
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "pogoauth" }}" href="{{ url_for('settings_pogoauth') }}">PoGo Auth</a>
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "devicepool" }}" href="{{ url_for('settings_pools') }}">Shared settings</a>
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "walker" }}" href="{{ url_for('settings_walkers') }}">Walkers</a>
</nav>
{% endblock %}

