{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ static('js/madmin_settings.js') }}"></script>
<script>
    function validate_walker() {
        var digitsOnlyNotEmptyPattern = "^[0-9]+$";
        var hourPattern = "((2[0-3]|[01]?[0-9]):([0-5][0-9]))";
        var rangeHoursPattern = "("+hourPattern+"-"+hourPattern+")";
        validateWalkervalueMsg = "";
        var rules = {
            countdown : [digitsOnlyNotEmptyPattern, "Please set correct number of seconds - digits only."],
            timer : ['^'+hourPattern+'$', "Please set correct time (24h format: XX:XX)."],
            round: [digitsOnlyNotEmptyPattern, "Please set correct number of rounds - digits only."],
            period : ['^'+rangeHoursPattern+'$', "Please set correct time (24h format: XX:XX-XX:XX)."],
            coords: ['^(|'+hourPattern+'|'+rangeHoursPattern+')$', "Please set correct time."],
            idle: ['^('+hourPattern+'|'+rangeHoursPattern+')$', "Please set correct time."],
        };
        var type = $("select[name='algo_type']").val();
        var value = $("input[name=algo_value]").val();
        if (!(type in rules)) {
            console.log("No rule implemented for " + type + " please fix :)");
            return true;
        }
        var ruleToUse = new RegExp(rules[type][0], "");
        if (ruleToUse.test(value)) {
            return true;
        } else {
            validateWalkervalueMsg = rules[type][1];
            $("#walkervalue-error").remove()
            elem = '<em id="walkervalue-error" class="error help-block">'+ validateWalkervalueMsg +'</em>';
            $("input[name=algo_value]").parent().append(elem);
            return false;
        }
    }
  $(document).ready(function () {
    $("#submit").click(function() {
        if(validate_walker() === false) {
            return;
        }
        loadingBlockUI('Saving {{ subtab }}');
        save_data = get_save_data();
        save_data["walker_id"] = {{ walkeruri }}
        if(isEmptyObj(save_data) !== false) {
            alert('No changes have been made');
            window.location.replace('{{ redirect }}?id={{ walkeruri }}');
        } else {
          $.ajax({
            url : '{{ uri }}',
            data : JSON.stringify(save_data),
            type : '{{ 'PATCH' if element else 'POST' }}',
            contentType : 'application/json',
            success: function(data, status, xhr) {
              $(location).attr("href", '{{ redirect }}?id={{ walkeruri }}');
            },
            error: function(data, status, xhr) {
                $("label[for]").removeClass('btn-danger');
                if(data['responseJSON'] !== undefined) {
                    $.each(data['responseJSON']['missing'], function() {
                        var elem = $("label[for="+ this +"]");
                        elem[0].innerHTML = elem.attr('for') +' - Required Field';
                        elem.addClass('btn-danger');
                    });
                    $.each(data['responseJSON']['invalid'], function() {
                        var field = this[0];
                        var expected = this[1];
                        var elem = $("label[for="+ field +"]");
                        elem[0].innerHTML = elem.attr('for') +' - Expected '+ expected;
                        elem.addClass('btn-danger');
                    });
                    $.unblockUI();
                    alert('One or more fields failed validation');
                } else {
                    $.unblockUI();
                    alert('Unable to save the {{ subtab }}.  An unknown error occurred');
                }
            }
          });
        }
    });
  });
</script>
{% endblock %}

{% block content %}
{{ super() }}

{% if areas.items()|length == 0 %}
<div class="alert alert-warning">Couldn't find any area configurations. Please <a href="{{ url('settings_areas') }}">create</a> one first.</div>
{% else %}
{% if element %}
  <h1 class="display-5">Edit {{ walker.name }} ({{ areas[element.area_id].name }}) </h1>
{% else %}
  <h1 class="display-5">New WalkerArea for {{ walker.name }} </h1>
{% endif %}
<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <label for='area_id'>Area</label><br>
      <small class="form-text text-muted">Select the Area</small>
      <select class="form-control" name="area_id" required="" aria-invalid="false" data-default="{{ element.walkerarea|string if element.walkerarea else '' }}">
        {% for area_id, area in areas.items() %}
          <option value="{{ area_id }}" {{'selected="selected"' if area_id == element.area_id }}>{{ area.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for='algo_type'>Walkermode</label><br>
      <small class="form-text text-muted">Choose the way to end the route:<br>
        <b>countdown</b>: Kill worker after X seconds<br>
        <b>timer</b>: Kill worker after X:XX o´clock (Format: 24h f.e. 21:30 -&gt; 9:30 pm)<br>
        <b>round</b>: Kill worker after X rounds<br>
        <b>period</b>: Kill worker if outside the period (Format: 24h f.e. 7:00-21:00)<br>
        <b>coords*</b>: Kill worker if no more coords are present<br>
        <b>idle*</b>: Idle worker and close Pogo till time or in period (check sleepmode of device - display must be on in this time!)<br>
        <b>*Additionally for coords/idle (walkervalue):</b><br>
        - Kill worker after X:XX o´clock (Format: 24h)<br>
        - Kill worker if outside of a period (Format: 24h f.e. 7:00-21:00)<br>
      </small>
      <select class="form-control" name="algo_type" required="" data-default="{{ element.algo_type }}">
        {% for walkertype in walkertypes %}
        <option value="{{ walkertype }}" {{'selected="selected"' if walkertype == element.algo_type }}>{{ walkertype }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for='algo_value'>Value for Walkermode</label><br>
      <small class="form-text text-muted"></small>
      <input type="text" class="form-control" name="algo_value" value="{{ element.algo_value if element.algo_value else "" }}" data-default="{{ element.algo_value if element.algo_value else "" }}">
    </div>
    <div class="form-group">
      <label for='max_walkers'>Max. Walker in Area</label><br>
      <small class="form-text text-muted">Empty = infinitely</small>
      <input type="text" class="form-control" name="max_walkers" value="{{ element.max_walkers if element.max_walkers else "" }}" data-default="{{ element.max_walkers if element.max_walkers else "" }}">
    </div>
    <div class="form-group">
      <label for='name'>Description</label><br>
      <small class="form-text text-muted"></small>
      <input type="text" class= "form-control" name="name" value="{{ element.name }}" data-default="{{ element.name }}">
    </div>
    <div class="form-group">
      <label for='eventid'>Event ID</label><br>
      <small class="form-text text-muted"></small>
      <input type="text" class= "form-control" name="eventid" value="{{ element.eventid }}" data-default="{{ element.eventid }}">
    </div>
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
  </div>
</div>
{% endif %}
{% endblock %}
