{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $(".delete").click(function() {
        if(confirm('Are you sure you want to delete this resource?')) {
            var elem =  $(this);
            loadingBlockUI('Deleting a  {{ subtab }}' );
            $.ajax({
                url : '{{ base_uri }}/'+ $(this).data('identifier'),
                type : 'DELETE',
                success: function(data, status, xhr) {
                    if(xhr.status == 202) {
                        elem.parent().parent().remove();
                        toggleConfiguredElement();
                    }
                },
                error: function(data, status, xhr) {
                    if(data.status == 412) {
                        var dependencies = data.responseJSON;
                        var msg = 'The following entities have a dependency on this element:';
                        $.each(dependencies, function() {
                            msg += "\n"+ this['name'] +" ("+ this['uri'] +")";
                        });
                        alert(msg);
                    } else {
                        alert('Unable to save the {{ subtab }}.  An unknown error occurred');
                    }
                }
            });
            $.unblockUI();
        }
    });
    // Toggle on boot
    toggleConfiguredElement();
    $("#pogoauth_table").DataTable({
         "pageLength": 50,
         order: [[2, 'desc']]
    });
  });

  function toggleConfiguredElement() {
    if($(".delete").length == 0) {
        $('#no-configured-elements').show();
    } else {
        $('#no-configured-elements').hide();
    }
  }
  $(".genTooltip").each(function() {
    var _burntype = $(this).data("burntype");
    if (_burntype == "maintenance") {
      var _MAIN_TIME = $(this).data("burnsleep");
      var _burntime_str = $(this).data("burntime");
      var _burntime = moment.utc(_burntime_str);
      var _past_main = _burntime.clone().add(_MAIN_TIME, "hours");

      var _title = "Type: " + _burntype + "<br/>" + "Timestamp: " + _burntime_str + " (" + _burntime.fromNow() + ")";
      if (moment.utc().isAfter(_past_main)) {
        $(this).removeClass("genTooltip").addClass("fas fa-flag");
        _title += "<br />Status: Ready to use"
      } else {
        $(this).removeClass("genTooltip").addClass("fas fa-hourglass-half");
        _title += "<br />Status: Cooldown"
     }
     $(this).tooltip({placement: "bottom", title: _title, html: true});
    } else if (_burntype == "suspended") {
      $(this).removeClass("genTooltip").addClass("fas fa-ban");
      var _burntime_str = $(this).data("burntime");
      var _burntime = moment.utc(_burntime_str);
      var _title = "Type: " + _burntype + "<br/>" + "Timestamp: " + _burntime_str + " (" + _burntime.fromNow() + ")";
      $(this).tooltip({placement: "bottom", title: _title, html: true});
    } else {
       // nothing for now, probably handle BAN if ever happens (-:
    }
   });
</script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="row">
  <div class="col">
    <div class="alert alert-primary">
      These authentication users are used to login to Pokemon GO on your device.  Google accounts are used during autoconfiguration while PTC accounts are used at login
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th style="width: 15%" class="align-middle">Type <i class="fas fa-info-circle" data-toggle="tooltip" title="Login Type"></th>
          <th style="width: 30%" class="align-middle">Username <i class="fas fa-info-circle" data-toggle="tooltip" title="Username for the login"></th>
          <th style="width: 30%" class="align-middle">Device <i class="fas fa-info-circle" data-toggle="tooltip" title="Device assigned to this login along with instance ID of the device"></th>
          <th style="width: 10%" class="text-center align-middle">Level <i class="fas fa-info-circle" data-toggle="tooltip" title="Account in-game level, 8 for raids, 30 for mons/quests"></th>
          <th style="width: 5%" class="text-center align-middle"></th>
          <th style="width: 10%" class="text-right align-middle"><a href='{{ url('settings_pogoauth', query_={'id': 'new'}) }}'><button type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button></a></th>
        </tr>
      </thead>
      {% if auth is none %}
        <div id='no-configured-elements' class="alert alert-info">No PoGo logins added yet</div>
      {% else %}
      <tbody>
        {% for auth_id, auth in section.items() %}
        <tr>
          <td class="align-middle">
            {{ auth.login_type }}
          </td>
          <td class="align-middle">
            <a href="{{ url('settings_pogoauth', query_={'id': auth_id}) }}">{{ auth.username }}</a>
          </td>
          <td>
            {% if auth.device_id %}
             <a href="{{ url('settings_devices', query_={'id': auth.device_id }) }}">{{ devices[auth.device_id].name }} ({{ devices[auth.device_id].instance_id }})</a>
            {% endif %}
          </td>
          <td class="text-center align-middle">
            {{ auth.level }}
          </td>
          <td class="text-center align-middle">
              {% if auth.last_burn_type is not none %}
                  <i class="genTooltip" data-burnsleep="{{ MAINTENANCE_COOLDOWN_HOURS }}" data-burntype="{{ auth.last_burn_type }}" data-burntime="{{ auth.last_burn }}" aria-hidden="true"></i>
              {% endif %}
          </td>
          <td class="text-right align-middle">
            <a href="{{ redirect }}?id={{ auth_id }}"><button type="button" class="btn btn-success btn-sm edit" data-identifier="{{ loop.index }}"><i class="far fa-edit"></i></button></a>
              <button data-identifier='{{ auth_id }}' type="button" class="delete btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
</div>
{% endblock %}
