{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/madmin_settings.js') }}"></script>
<script>
    $(document).ready(function () {
        $("#submit").click(function() {
            loadingBlockUI('Saving {{ subtab }}');
            save_data = get_save_data();
            if(isEmptyObj(save_data) != false) {
                alert('No changes have been made');
                window.location.replace('{{ redirect }}');
            } else {
                process_api_request("{{ uri }}", "{{ method }}", "{{ redirect }}");
            }
        });
        $(document).on('click', '.delete', function() {
            $(this).parent().parent().remove();
        });

        var fixHelper = function(e, ui) {
            ui.children().each(function() {
                $(this).width($(this).width());
            });
            return ui;
        };

        $( "tbody" ).sortable({
            helper: fixHelper,
            handle: '.handle',
            delay: 150,
        }).disableSelection();
    });

    $("#pokemon-search").keyup(function() {
        var val = $(this).val();
        $("#pokemon-search-output").empty();
        $(".result-hint").hide();
        if(val.length >= 3) {
            $.ajax({
                url : "{{ url_for('monsearch') }}",
                data : jQuery.param({'search': val, 'monlist': '{{ uri }}'}),
                type : 'GET',
                contentType : 'application/json',
                success: function(data, status, xhr) {
                    $(".result-hint").show();
                    $.each(data, function() {
                        var elem = document.createElement('span');
                        elem.className = 'add-pokemon btn btn-primary btn-sm';
                        elem.setAttribute('data-identifier', this.mon_id);
                        elem.innerHTML = '<i class="fas fa-plus"></i> '+this.mon_name;
                        $("#pokemon-search-output").append(elem);
                    });
                    $(".add-pokemon").click(function() {
                        if(!get_mon_list().includes($(this).data('identifier'))) {
                            elem = generate_row(this);
                            $("#selected-pokemon").append(elem);
                            $(this).removeClass("btn-primary");
                            $(this).addClass("btn-success");
                        } else {
                            alert('Pokemon already added to list!');
                        }
                    })
                }
            });
        }
    });

    function generate_row(elem) {
        var mon_id = $(elem).data('identifier');
        var mon_name = $(elem).text();
        var row = document.createElement('tr');
        row.className = 'table-success'
        row.setAttribute('data-monid', mon_id);

        // Rows
        var td_sortable = document.createElement('td');
        td_sortable.innerHTML = '<i class="fa fa-fw fa-sort handle ui-sortable-handle"></i>';

        var td_monid = document.createElement('td');
        td_monid.innerHTML = '#'+ mon_id;

        var td_monname = document.createElement('td');
        td_monname.innerHTML = mon_name;

        var td_remove = document.createElement('td');
        var rem = document.createElement('button')
        rem.setAttribute('data-identifier', mon_id);
        rem.setAttribute('type', 'button');
        rem.className = 'delete btn btn-danger btn-sm';
        var fa = document.createElement('i');
        fa.className = 'fas fa-trash-alt';
        rem.appendChild(fa);
        td_remove.appendChild(rem);

        row.appendChild(td_sortable);
        row.appendChild(td_monid);
        row.appendChild(td_monname);
        row.appendChild(td_remove);
        return row;
    }
    function get_mon_list() {
        pokemon_list = [];
        $.each($("tr[data-monid]"), function() {
            mon_id = $(this).data('monid');
            pokemon_list.push(mon_id);
        });
        return pokemon_list;
    }
</script>
<style>
#pokemon-search-output {
  margin: 10px 0px;
}

#pokemon-search-output span {
  margin-right: 5px;
}
</style>
{% endblock %}

{% block content %}
{{ super() }}
<h1 class="display-5">{{ element.monlist }}</h1>
<div class="row">
    <div class="col-sm">
        <div class="form-group">
          <label for="monlist">monlist</label>
          <input type="input" class="form-control" id="monlist" name="monlist" value="{{ element.monlist }}" data-default="{{ element.monlist }}">
          <small class="form-text text-muted">Name of the mon list</small>
        </div>
        <div class="form-gropup" id="add-pokemon">
          <label for="monlist-search">List of mons</label>
          <input type="text" id="pokemon-search" placeholder="Search for mon name" class="form-control" data-skip="true">
          <small class="form-text text-muted result-hint" style="display: none">Click on a result to add it to the list:</small>
          <div id="pokemon-search-output" class="nav nav-pills"></div>
        </div>
        <div class="form-group" id='pokemon-order'>
            <table class="table table-hover table-striped table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th class="align-middle" colspan="1">Mon #</th>
                        <th class="align-middle" colspan="2">Mon name</th>
                    </tr>
                </thead>
                <tbody id='selected-pokemon' class="row_position ui-sortable">
                    {% for mon in current_mons_list %}
                        <tr data-monid='{{ mon.mon_id }}'>
                            <td><i class="fa fa-fw fa-sort handle ui-sortable-handle"></i></td>
                            <td>#{{ mon.mon_id }}</td>
                            <td>{{ mon.mon_name }}</td>
                            <td align="right"><button data-identifier='{{ mon.mon_id }}' type="button" class="delete btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id='selected-pokemon' style='display:none;' class="row_position ui-sortable form-control" name='mon_ids_iv' data-callback='get_mon_list' data-default="{{ current_mons_list }}"></div>
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
</div>
{% endblock %}
