{% extends "settings.html" %}

{% block header %}
    {{ super() }}
    <link type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css"
          rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ static('js/madmin_settings.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>

    <script>
        var table;
        var selected = false;
        var ptc_accounts = [{% for auth_id, pogoauth_entry in ptc_accounts|dictsort %}{"id": {{ auth_id }}, "text": "{{ pogoauth_entry.username }}"},{% endfor %}];

        $(document).ready(function () {
            $("#clearLevelup").click(function () {
                if (!confirm('Do you really wanna delete all information about visited pokestops for device {{ element.origin }}?')) {
                    return;
                }
                loadingBlockUI("Clearing");
                rpc_call = {
                    'call': 'flush_level'
                }
                $.ajax({
                    url: "{{ uri }}",
                    contentType: 'application/json-rpc',
                    data: JSON.stringify(rpc_call),
                    type: 'POST',
                    success: function (data, status, xhr) {
                        $.unblockUI();
                        if (xhr.status < 400)
                            window.location.replace('{{ redirect }}');
                    },
                    error: function () {
                        $.unblockUI();
                        alert('Unable to clear levelup data!  An unknown error occurred');
                    }
                });
            });
            $("#submit").click(function () {
                // $.blockUI({ message: '<img src="{{ static('loading.gif') }}" width="100px" /><br /><h2>Saving {{ subtab }}...</h2>' });
                save_data = get_save_data();
                if (isEmptyObj(save_data) != false) {
                    alert('No changes have been made');
                    window.location.replace('{{ redirect }}');
                } else {
                    process_api_request("{{ uri }}", "{{ method }}", "{{ redirect }}");
                }
            });
            $(".enhanced_mode_quest_safe_items").select2({
                data: ItemData,
                escapeMarkup: function (m) {
                    return m;
                }
            });

            var questModeUndeleteableItems = $(".enhanced_mode_quest_safe_items").data('default');
            if (questModeUndeleteableItems != "") {
                questModeUndeleteableItems = questModeUndeleteableItems.toString().replace(/\s/g, "").split(",")
                $('.enhanced_mode_quest_safe_items').val(questModeUndeleteableItems);
                $('.enhanced_mode_quest_safe_items').trigger('change');

            }


            $(".ptc_login").select2({
                data: ptc_accounts,
                escapeMarkup: function (m) {
                    return m;
                }
            });
            let ptc_account_selector = $(".ptc_login").data('default');
            if (ptc_account_selector.length > 0) {
                $('.ptc_login').val(ptc_account_selector);
                $('.ptc_login').trigger('change');

            }
        });

        function translate_ptc() {
            var ptc = [];
            $.each($(".ptc_login").val(), function () {
                ptc.push(this);
            });
            return ptc;
        }
    </script>
{% endblock %}

{% block content %}
    {{ super() }}
    {% if requires_auth and element.origin and (not element.ptc_login and not element.ggl_login) %}
        <div class="alert alert-warning">No Pogo Auth (Google or PTC) selected for the device. During auto-configuration
            the device will not be able to automatically sign-in.
        </div>
    {% endif %}

    <h1 class="display-5">{{ element.origin }}</h1>

    {% if walkers.items()|length == 0 %}
        <div class="alert alert-warning">Couldn't find any walker configurations. Please <a
                href="{{ url('settings_walkers', query_={'id': 'new'}) }}">create</a> one first.
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="name">origin</label>
                    <input type="input" class="form-control" id="name" name="name" value="{{ element.name }}"
                           data-default="{{ element.name }}">
                    <small class="form-text text-muted">origin is the unique name of your device</small>
                </div>
                {% for key, field in settings_vars.fields|dictsort %}
                    {% if key not in ["origin", "pool", "walker", "mac_address", "ggl_login", "ptc_login", "interface_type", "ggl_login_mail"] %}
                        <div class="form-group">
                            <label for="{{ key }}">{{ key }}</label>
                            {% if field.settings.type == "option" %}
                                <select class="form-control" name="{{ key }}" data-default="{{ element[key] }}">
                                        {% for option in field.settings["values"] %}
                                            <option value="{{ option }}"{% if key in element.__dict__ %}
                                                {{ 'selected="selected"' if option|tojson == element[key]|tojson or option is boolean and (1 if option else 0) == element[key] }}{% endif %}>{{ option|lower }}</option>
                                        {% endfor %}
                                    </select>
                            {% elif field.settings.type == "select" %}
                                <select class="form-control {{ key }}" data-default="
                                        {% if element[key] is not none and element[key] != 'None' %}{{ element[key] }}{% endif %}"
                                        name="{{ key }}" setting='true' multiple="multiple"></select>
                            {% else %}
                                    <input type="{{ field.type }}" name="{{ key }}" data-default="{{ element[key] }}" {{ 'required=true' if field.settings.require }}
                                           class="form-control" id="{{ key }}" value="{% if element[key] is not none and element[key] != 'None' %}{{ element[key] }}{% endif %}">
                            {% endif %}
                            <small class="form-text text-muted">{{ field.settings.description }}</small>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="walker_id">walker</label>
                    <select class="form-control" name="walker_id"
                            data-default="{{ element.walker_id }}">
                        {% for walker_id, walker in walkers.items() %}
                            <option value="{{ walker_id }}" {{ 'selected="selected"' if element.walker_id == walker_id else "" }}>{{ walker.name }}</option>
                        {% endfor %}
                    </select>
                    <small class="form-text text-muted">Walker for this device</small>
                </div>
                <div class="form-group">
                    <label for="pool_id">pool</label>
                    <select class="form-control" name="pool_id"
                            data-default="{{ element.pool if element.pool else 'None' }}">
                        <option value='None'>None</option>
                        {% if pools is not none %}
                            {% for pool_id, pool in pools.items() %}
                                <option value="{{ pool_id }}" {{ 'selected="selected"' if element.pool_id == pool_id else "" }}>{{ pool.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <small class="form-text text-muted">Configuration pool used by this device</small>
                </div>
                <div class="form-group">
                    <label for="ggl_login_mail">Assigned Google address</label>
                    <select class="form-control" name="ggl_login_mail"
                            data-default="{{ element.ggl_login_mail if element.ggl_login_mail else 'None' }}">
                        <option value='None'>None</option>
                        {% for account_id, account in ggl_accounts.items() %}
                            <option value="{{ account.username }}" {{ 'selected="selected"' if element.ggl_login_mail == account.username else "" }}>{{ account.username }}</option>
                        {% endfor %}
                    </select>
                    <small class="form-text text-muted">Aligned email for auto-configuration</small>
                </div>
                <div class="form-group">
                    <label for="ptc_login">Assigned PTC Account(s)</label>
                    <select class="form-control ptc_login" name="ptc_login"
                            data-default="[{% for assigned_ptc in ptc_assigned %}{{ assigned_ptc.account_id }}{% if ptc_assigned[-1] != assigned_ptc %},{% endif %}{% endfor %}]" data-callback='translate_ptc'
                            multiple="multiple"></select>
                    <small class="form-text text-muted">Aligned PTC accounts to be used on the device</small>
                </div>
                <div class="form-group">
                    <label for="interface_type">Active Interface</label>
                    <select class="form-control" name="interface_type"
                            data-default="{{ element.interface_type if element.interface_type else 'lan' }}">
                        <option value="lan" {{ 'selected=selected' if element.interface_type == 'lan' else "" }}>LAN
                        </option>
                        {#        <option value="wlan" {{ 'selected=selected' if element.interface_type == 'wlan' else "" }}>WLAN</option>#}
                    </select>
                </div>
                <div class="form-group">
                    <label for="mac_address">mac</label>
                    <input type="input" class="form-control" id="mac_address" name="mac_address"
                           value="{{ element.mac_address if element.mac_address else '' }}"
                           data-default="{{ element.mac_address }}">
                    <small class="form-text text-muted">MAC address of the device (format: 01:23:45:67:89:ab)</small>
                </div>
                <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
                <button type="button" id="clearLevelup" class="btn btn-danger btn-lg btn-block">Clear levelup data
                </button>
            </div>
        </div>
    {% endif %}
{% endblock %}
