{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/madmin_settings.js') }}"></script>
<script>
    function validate_walker() {
        var digitsOnlyNotEmptyPattern = "^[0-9]+$";
        var hourPattern = "((2[0-3]|[01]?[0-9]):([0-5][0-9]))";
        var rangeHoursPattern = "("+hourPattern+"-"+hourPattern+")";
        validateWalkervalueMsg = "";
        var rules = {
            countdown : [digitsOnlyNotEmptyPattern, "Please set correct number of seconds - digits only."],
            timer : ['^'+hourPattern+'$', "Please set correct time (24h format: XX:XX)."],
            round: [digitsOnlyNotEmptyPattern, "Please set correct number of rounds - digits only."],
            period : ['^'+rangeHoursPattern+'$', "Please set correct time (24h format: XX:XX-XX:XX)."],
            coords: ['^(|'+hourPattern+'|'+rangeHoursPattern+')$', "Please set correct time."],
            idle: ['^('+hourPattern+'|'+rangeHoursPattern+')$', "Please set correct time."],
        };
        var type = $("select[name='walkertype']").val();
        var value = $("input[name=walkervalue]").val();
        if (!(type in rules)) {
            console.log("No rule implemented for " + type + " please fix :)");
            return true;
        }
        var ruleToUse = new RegExp(rules[type][0], "");
        if (ruleToUse.test(value)) {
            return true;
        } else {
            validateWalkervalueMsg = rules[type][1];
            $("#walkervalue-error").remove()
            elem = '<em id="walkervalue-error" class="error help-block">'+ validateWalkervalueMsg +'</em>';
            $("input[name=walkervalue]").parent().append(elem);
            return false;
        }
    }
  $(document).ready(function () {
    $("#submit").click(function() {
        if(validate_walker() == false) {
            return;
        }
        loadingBlockUI('Saving {{ subtab }}');
        save_data = get_save_data();
        if(isEmptyObj(save_data) != false) {
            alert('No changes have been made');
            window.location.replace('{{ redirect }}?id={{ walkeruri }}');
        } else {
          $.ajax({
            url : '{{ uri }}',
            data : JSON.stringify(save_data),
            type : '{{ 'PATCH' if element else 'POST' }}',
            contentType : 'application/json',
            success: function(data, status, xhr) {
              walkerarea_uri = xhr.getResponseHeader('X-Uri');
              walkerarea_data = {
                'setup': [walkerarea_uri]
              }
              if('{{ 'PATCH' if element else 'POST' }}' == 'POST') {
                $.ajax({
                  beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-Append', true);
                  },
                  url : '{{ url_for('api_walker')}}/{{ walkeruri }}',
                  data : JSON.stringify(walkerarea_data),
                  type : 'PATCH',
                  contentType : 'application/json',
                  success: function(data, status, xhr) {
                    $(location).attr("href", '{{ redirect }}?id={{ walkeruri }}');
                  },
                  error: function(data, status, xhr) {
                    console.log(data);
                    console.log(status);
                    console.log(xhr);
                    alert('Something bad happened.  Check console for output');
                  }
                });
              } else {
                $(location).attr("href", '{{ redirect }}?id={{ walkeruri }}');
              }
            },
            error: function(data, status, xhr) {
                $("label[for]").removeClass('btn-danger');
                if(data['responseJSON'] != undefined) {
                    $.each(data['responseJSON']['missing'], function() {
                        var elem = $("label[for="+ this +"]");
                        elem[0].innerHTML = elem.attr('for') +' - Required Field';
                        elem.addClass('btn-danger');
                    });
                    $.each(data['responseJSON']['invalid'], function() {
                        var field = this[0];
                        var expected = this[1];
                        var elem = $("label[for="+ field +"]");
                        elem[0].innerHTML = elem.attr('for') +' - Expected '+ expected;
                        elem.addClass('btn-danger');
                    });
                    $.unblockUI();
                    alert('One or more fields failed validation');
                } else {
                    $.unblockUI();
                    alert('Unable to save the {{ subtab }}.  An unknown error occurred');
                }
            }
          });
        }
    });
  });
</script>
{% endblock %}

{% block content %}
{{ super() }}

{% if areas.items()|length == 0 %}
<div class="alert alert-warning">Couldn't find any area configurations. Please <a href="{{ url_for('settings_areas') }}">create</a> one first.</div>
{% else %}
{% if element %}
  <h1 class="display-5">Edit {{ walker.walkername }} ({{ areas[element.walkerarea].name }}) </h1>
{% else %}
  <h1 class="display-5">New WalkerArea for {{ walker.walkername }} </h1>
{% endif %}
<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <label for='walkerarea'>Area</label><br>
      <small class="form-text text-muted">Select the Area</small>
      <select class="form-control" name="walkerarea" required="" aria-invalid="false" data-default="{{ url_for('api_area') +'/'+ element.walkerarea|string if element.walkerarea else '' }}">
        {% for uri, area in areas.items() %}
          <option value="{{ url_for('api_area') +'/'+ uri|string }}" {{'selected="selected"' if uri == element.walkerarea }}>{{ area.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for='walkertype'>Walkermode</label><br>
      <small class="form-text text-muted">Choose the way to end the route:<br>
        <b>countdown</b>: Kill worker after X seconds<br>
        <b>timer</b>: Kill worker after X:XX o´clock (Format: 24h f.e. 21:30 -&gt; 9:30 pm)<br>
        <b>round</b>: Kill worker after X rounds<br>
        <b>period</b>: Kill worker if outside the period (Format: 24h f.e. 7:00-21:00)<br>
        <b>coords*</b>: Kill worker if no more coords are present<br>
        <b>idle*</b>: Idle worker and close Pogo till time or in period (check sleepmode of device - display must be on in this time!)<br>
        <b>*Additionally for coords/idle (walkervalue):</b><br>
        - Kill worker after X:XX o´clock (Format: 24h)<br>
        - Kill worker if outside of a period (Format: 24h f.e. 7:00-21:00)<br>
      </small>
      <select class="form-control" name="walkertype" required="" data-default="{{ element.walkertype }}">
        {% for walkertype in walkertypes %}
        <option value="{{ walkertype }}" {{'selected="selected"' if walkertype == element.walkertype }}>{{ walkertype }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for='walkervalue'>Value for Walkermode</label><br>
      <small class="form-text text-muted"></small>
      <input type="text" class="form-control" name="walkervalue" value="{{ element.walkervalue }}" data-default="{{ element.walkervalue }}">
    </div>
    <div class="form-group">
      <label for='walkermax'>Max. Walker in Area</label><br>
      <small class="form-text text-muted">Empty = infinitely</small>
      <input type="text" class="form-control" name="walkermax" value="{{ element.walkermax }}" data-default="{{ element.walkermax }}">
    </div>
    <div class="form-group">
      <label for='walkertext'>Description</label><br>
      <small class="form-text text-muted"></small>
      <input type="text" class= "form-control" name="walkertext" value="{{ element.walkertext }}" data-default="{{ element.walkertext }}">
    </div>
    <div class="form-group">
      <label for='eventid'>Event ID</label><br>
      <small class="form-text text-muted"></small>
      <input type="text" class= "form-control" name="eventid" value="{{ element.eventid }}" data-default="{{ element.eventid }}">
    </div>
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
  </div>
</div>
{% endif %}
{% endblock %}
