{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/madmin_settings.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

<script>
$(document).ready(function () {
    $("#clearLevelup").click(function() {
        if(!confirm('Do you really wanna delete all information about visited pokestops for device {{ element.origin }}?')) {
          return;
        }
        $.blockUI({ message: '<img src="{{ url_for('static', filename='loading.gif') }}" width="100px" /><br /><h2>Clearing ...</h2>' });
        rpc_call = {
          'call': 'flush_level'
        }
        $.ajax({
            url : "{{ uri }}",
            contentType : 'application/json-rpc',
            data: JSON.stringify(rpc_call),
            type : 'POST',
            success: function(data, status, xhr) {
              $.unblockUI();
              if(xhr.status < 400)
                window.location.replace('{{ redirect }}');
            },
            error: function() {
              $.unblockUI();
              alert('Unable to clear levelup data!  An unknown error occurred');
            }
        });
    });
    $("#submit").click(function() {
        // $.blockUI({ message: '<img src="{{ url_for('static', filename='loading.gif') }}" width="100px" /><br /><h2>Saving {{ subtab }}...</h2>' });
        save_data = get_save_data();
        if(isEmptyObj(save_data) != false) {
            alert('No changes have been made');
            window.location.replace('{{ redirect }}');
        } else {
            process_api_request("{{ uri }}", "{{ method }}", "{{ redirect }}");
        }
    });
    $(".enhanced_mode_quest_safe_items").select2({
        data: ItemData,
        escapeMarkup: function(m) {
            return m;
        }
    });

    var questModeUndeleteableItems = $(".enhanced_mode_quest_safe_items").data('default');
    if (questModeUndeleteableItems != "") {

        questModeUndeleteableItems = questModeUndeleteableItems.toString().replace(/\s/g, "").split(",")
        $('.enhanced_mode_quest_safe_items').val(questModeUndeleteableItems);
        $('.enhanced_mode_quest_safe_items').trigger('change');

    }

});
</script>
{% endblock %}

{% block content %}
{{ super() }}

<h1 class="display-4">{{ element.origin }}</h1>

{% if walkers.items()|length == 0 %}
<div class="alert alert-warning">Couldn't find any walker configurations. Please <a href="{{ url_for('settings_walkers', id='new') }}">create</a> one first.</div>
{% else %}
<div class="row">
  <div class="col-sm">
    <div class="form-group">
      <label for="origin">origin</label>
      <input type="input" class="form-control" id="origin" name="origin" value="{{ element.origin }}" data-default="{{ element.origin }}">
      <small class="form-text text-muted">origin is the unique name of your device</small>
    </div>
    {% for key, field in settings_vars.settings|dictsort %}
    <div class="form-group">
      <label for="{{ key }}">{{ key }}</label>
      {% if field.settings.type == "option" %}
      <select class="form-control {{ key }}" name="{{ key }}" setting='true' data-default="{{ element.settings[key] }}">
        {% for option in field.settings["values"] %}
        <option value="{{ option }}" {% if key in element.settings %}{{ 'selected="selected"' if option|tojson == element.settings[key]|tojson }}{% endif %}>{{ option|lower }}</option>
        {% endfor %}
      </select>
      {% elif field.settings.type == "select" %}
      <select class="form-control {{ key }}" data-default="{% if element.settings[key] is not none and element.settings[key] != 'None' %}{{ element.settings[key] }}{% endif %}" name="{{ key }}" setting='true' multiple="multiple"></select>
      {% else %}
      <input type="{{ field.settings.type }}" name="{{ key }}" setting='true' class="form-control" id="{{ key }}" value="{% if element.settings[key] is not none and element.settings[key] != 'None' %}{{ element.settings[key] }}{% endif %}" data-default="{{ element.settings[key] }}">
      {% endif %}
      <small class="form-text text-muted">{{ field.settings.description }}</small>
    </div>
    {% endfor %}
  </div>
  <div class="col-sm">
    <div class="form-group">
      <label for="walker">walker</label>
      <select class="form-control" name="walker" data-default="{{ url_for('api_walker') + '/'+ element.walker|string if element.walker else '' }}">
        {% for walker_id, walker in walkers.items() %}
         <option value="{{ url_for('api_walker') + '/'+ walker_id|string }}" {{ 'selected=selected' if element.walker == walker_id else "" }}>{{ walker.walkername }}</option>
        {% endfor %}
      </select>
      <small class="form-text text-muted">Walker for this device</small>
    </div>
    <div class="form-group">
      <label for="pool">pool</label>
      <select class="form-control" name="pool" data-default="{{ url_for('api_devicepool') + '/'+ element.pool|string if element.pool else 'None' }}">
        <option value='None'>None</option>
        {% if pools is not none %}
        {% for poolid, pool in pools.items() %}
         <option value="{{ url_for('api_devicepool') + '/'+ poolid|string }}" {{ 'selected=selected' if element.pool == poolid else "" }}>{{ pool.devicepool }}</option>
        {% endfor %}
        {% endif %}
      </select>
      <small class="form-text text-muted">Configuration pool used by this device</small>
    </div>
    <div class="form-group">
      <label for="adbname">adbname</label>
      <input type="input" class="form-control" id="adbname" name="adbname" value="{{ element.adbname if element.adbname else '' }}" data-default="{{ element.adbname }}">
      <small class="form-text text-muted">ADB device name</small>
    </div>
    <div class="form-group">
      <label for="email_id">Assigned email address</label>
      <select class="form-control" name="email_id" data-default="{{ element.email_id if element.email_id else 'None' }}">
        <option value='None'>None</option>
        {% if accounts is not none %}
        {% for account in accounts %}
         <option value="{{ account.email_id }}" {{ 'selected=selected' if element.email_id == account.email_id else "" }}>{{ account.email }}</option>
        {% endfor %}
        {% endif %}
      </select>
      <small class="form-text text-muted">Aligned email for auto-configuration</small>
    </div>
    <div class="form-group">
      <label for="interface_type">Active Interface</label>
      <select class="form-control" name="interface_type" data-default="{{ element.interface_type if element.interface_type else 'lan' }}">
        <option value="lan" {{ 'selected=selected' if element.interface_type == 'lan' else "" }}>LAN</option>
        <option value="wlan" {{ 'selected=selected' if element.interface_type == 'wlan' else "" }}>WLAN</option>
      </select>
    </div>
    <div class="form-group">
      <label for="mac_address">mac</label>
      <input type="input" class="form-control" id="mac_address" name="mac_address" value="{{ element.mac_address if element.mac_address else '' }}" data-default="{{ element.mac_address }}">
      <small class="form-text text-muted">MAC address of the device</small>
    </div>
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
    <button type="button" id="clearLevelup" class="btn btn-danger btn-lg btn-block">Clear levelup data</button>
  </div>
</div>
{% endif %}
{% endblock %}

