{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $(".delete").click(function() {
        if(confirm('Are you sure you want to delete this resource?')) {
            var elem =  $(this);
            loadingBlockUI('Deleting a  {{ subtab }}' )
            $.ajax({
                url : '{{ base_uri }}/'+ $(this).data('identifier'),
                type : 'DELETE',
                success: function(data, status, xhr) {
                    if(xhr.status == 202) {
                        elem.parent().parent().remove();
                        toggleConfiguredElement();
                    }
                },
                error: function(data, status, xhr) {
                    if(data.status == 412) {
                        var dependencies = data.responseJSON;
                        var msg = 'The following entities have a dependency on this element:';
                        $.each(dependencies, function() {
                            msg += "\n"+ this['name'];
                        });
                        alert(msg);
                    } else {
                        alert('Unable to save the {{ subtab }}.  An unknown error occurred');
                    }
                }
            });
            $.unblockUI();
        }
    });
    // Toggle on boot
    toggleConfiguredElement();
  });

  function toggleConfiguredElement() {
    if($(".delete").length == 0) {
        $('#no-configured-elements').show();
    } else {
        $('#no-configured-elements').hide();
    }
}
</script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="row">
  <div class="col">
    <div class="alert alert-primary">
      These authentication users are used to secure your MAD setup. Once configured, every device connecting to your server via RemoteGPSController or PogoDroid must submit a valid username including the specified password in order to communicate with MAD. Auth users can be used on multiple devices at the same time.
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th style="width: 80%" class="align-middle">Name <i class="fas fa-info-circle" data-toggle="tooltip" title="These usernames are being used to authenticate RGC and PogoDroid against MAD."></th>
          <th style="width: 20%" class="text-right align-middle"><a href='{{ url_for('settings_auth', id='new') }}'><button type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button></a></th>
        </tr>
      </thead>
      {% if auth is none %}
        <div id='no-configured-elements' class="alert alert-info">No auth users added yet</div>
      {% else %}
      <tbody>
        {% for auth_id, auth in auth.items() %}
        <tr>
          <td class="align-middle">
            <a href="{{ url_for('settings_auth', id=auth_id) }}">{{ auth.username }}</a>
          </td>
          <td class="text-right align-middle">
            <a href="{{ redirect }}?id={{ auth_id }}"><button type="button" class="btn btn-success btn-sm edit" data-identifier="{{ loop.index }}"><i class="far fa-edit"></i></button></a>
            <button data-identifier='{{ auth_id }}' type="button" class="delete btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
</div>
{% endblock %}
