{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $(".delete").click(function() {
        if(confirm('Are you sure you want to delete this resource?')) {
            var elem =  $(this);
            loadingBlockUI('Deleting a  {{ subtab }}' );
            $.ajax({
                url : '{{ base_uri }}/'+ $(this).data('identifier'),
                type : 'DELETE',
                success: function(data, status, xhr) {
                    if(xhr.status == 202) {
                        elem.parent().parent().remove();
                        toggleConfiguredElement();
                    }
                },
                error: function(data, status, xhr) {
                    if(data.status == 412) {
                        var dependencies = data.responseJSON;
                        var msg = 'The following entities have a dependency on this element:';
                        $.each(dependencies, function() {
                            msg += "\n"+ this['name'] +" ("+ this['uri'] +")";
                        });
                        alert(msg);
                    } else {
                        alert('Unable to save the {{ subtab }}.  An unknown error occurred');
                    }
                }
            });
            $.unblockUI();
        }
    });
    // Toggle on boot
    toggleConfiguredElement();
  });

  function toggleConfiguredElement() {
    if($(".delete").length == 0) {
        $('#no-configured-elements').show();
    } else {
        $('#no-configured-elements').hide();
    }
}
</script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="row">
  <div class="col">
    <div class="alert alert-primary">
      Shared settings (or settings pools) can be used to configure device settings once and apply them to multiple devices without configuring every single device. Shared settings will be overwritten by settings configured within a device.
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th style="width: 40%" class="align-middle">Name</th>
          <th style="width: 40%" class="align-middle">Settings</th>
          <th style="width: 20%" class= "text-right align-middle"><a href='{{ url_for('settings_pools', id='new') }}'><button type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button></a></th>
        </tr>
      </thead>
        {% if devicepool is none %}
          <div id='no-configured-elements' class="alert alert-info">No shared device settings added yet</div>
        {% else %}
        <tbody>
        {% for pool_id, devicepool in devicepool.items() %}
        <tr>
          <td class="align-middle">
            <a href="{{ url_for('settings_pools', id=pool_id) }}">{{ devicepool.devicepool }}</a>
          </td>
          <td>
            <p style="font-size: 65%; min-height: 40px; display: inline-box">
            {% for key in devicepool.settings|sort %}
            {%if devicepool.settings[key] != "" %}
            {{ key }}: {{ devicepool.settings[key] }}<br>
            {% endif %}
            {% endfor %}
            </p>
          </td>
          <td class="text-right align-middle">
              <a href="{{ redirect }}?id={{ pool_id }}"><button type="button" class="btn btn-success btn-sm edit" data-identifier="{{ loop.index }}"><i class="far fa-edit"></i></button></a>
            <button data-identifier='{{ pool_id }}' type="button" class="delete btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
</div>
{% endblock %}
