{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/madmin_settings.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script>
$(document).ready(function () {
    $("#submit").click(function() {
        loadingBlockUI('Saving {{ subtab }}');
        save_data = get_save_data();
        if(isEmptyObj(save_data) != false) {
            alert('No changes have been made');
            window.location.replace('{{ redirect }}');
        } else {
            process_api_request("{{ uri }}", "{{ method }}", "{{ redirect }}");
        }
    });

    $(".enhanced_mode_quest_safe_items").select2({
        data: ItemData,
        escapeMarkup: function(m) {
            return m;
        }
    });

    var questModeUndeleteableItems = $(".enhanced_mode_quest_safe_items").data('default');
    if (questModeUndeleteableItems != "") {

        questModeUndeleteableItems = questModeUndeleteableItems.toString().replace(/\s/g, "").split(",")
        $('.enhanced_mode_quest_safe_items').val(questModeUndeleteableItems);
        $('.enhanced_mode_quest_safe_items').trigger('change');

    }
});
</script>
{% endblock %}

{% block content %}
{{ super() }}

<h1 class="display-5">{{ element.devicepool }}</h1>

<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <label for="devicepool">devicepool</label>
      <input type="input" class="form-control" id="devicepool" name="devicepool" value="{{ element.devicepool }}" data-default="{{ element.devicepool }}">
      <small class="form-text text-muted">devicepool</small>
    </div>
    {% for key, field in settings_vars.settings|dictsort %}
    <div class="form-group">
      <label for="{{ key }}">{{ key }}</label>
      {% if field.settings.type == "option" %}
      <select class="form-control" name="{{ key }}" setting='true' data-default="{{ element.settings[key] }}">
        {% for option in field.settings["values"] %}
        <option value="{{ option }}" {% if key in element.settings %}{{ 'selected="selected"' if option|tojson == element.settings[key]|tojson }}{% endif %}>{{ option|lower }}</option>
        {% endfor %}
      </select>
      {% elif field.settings.type == "select" %}
      <select class="form-control {{ key }}" data-default="{% if element.settings[key] is not none and element.settings[key] != 'None' %}{{ element.settings[key] }}{% endif %}" name="{{ key }}" setting='true' multiple="multiple"></select>
      {% else %}
      <input type="{{ field.settings.type }}" name="{{ key }}" setting='true' class="form-control" id="{{ key }}" value="{% if element.settings[key] is not none and element.settings[key] != 'None' %}{{ element.settings[key] }}{% endif %}" data-default="{{ element.settings[key] }}">
      {% endif %}
      <small class="form-text text-muted">{{ field.settings.description }}</small>
    </div>
    {% endfor %}
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
  </div>
</div>
{% endblock %}
