{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function bulk_patch(uri, patch_data) {
  $.ajax({
      url : uri,
      data : JSON.stringify(patch_data),
      type : 'PATCH',
      contentType : 'application/json',
      async: false
  });
}
function flush_level(uri, data) {
  rpc_call = {
    'call': 'flush_level'
  }
  $.ajax({
      url : uri,
      contentType : 'application/json-rpc',
      data: JSON.stringify(rpc_call),
      type : 'POST'
  });
}
$(document).ready(function () {
    $("#selectAll").change(function() {
      sel = this.checked
      $(".bulk_sel").each(function() {
        $(this).prop('checked', sel);
      });
    });

    $(".walker_sel_single").change(function() {
        var uri = '{{ base_uri }}/'+ $(this).data('identifier');
        var walker_uri = $(this).children("option:selected").attr('name');
        var patch_data = {"walker": walker_uri};
        loadingBlockUI("Loading")
        bulk_patch(uri, patch_data);
        $.unblockUI();
    });
    $(".bulk_update").change(function() {
      var selected_uri = $(this).children("option:selected").val();
      var devices = $('.bulk_sel:checkbox:checked');
      if(devices.length > 0 && confirm('Are you sure you want to bulk update?')) {
        loadingBlockUI("Bulk Updating");
        var data = {};
        var operation = bulk_patch;
        if(selected_uri.indexOf('walker') > 0) {
          data = {"walker": selected_uri};
        } else if(selected_uri.indexOf('pool') > 0) {
          data = {"pool": selected_uri};
        } else {
          operation = flush_level;
        }
        $.each($('.bulk_sel:checkbox:checked'), function() {
          uri = '{{ url_for('api_device') }}/' + $(this).data('identifier');
          operation(uri, data);
        });
        $.unblockUI();
        location.reload();
      } else {
        $('.bulk_update').prop('selectedIndex', 0);
      }
    });
    $(".delete").click(function() {
        if(confirm('Are you sure you want to delete this resource?')) {
            var elem =  $(this);
            loadingBlockUI('Deleting a  {{ subtab }}' )
            $.ajax({
                url : '{{ base_uri }}/'+ $(this).data('identifier'),
                type : 'DELETE',
                success: function(data, status, xhr) {
                    if(xhr.status == 202) {
                        elem.parent().parent().remove();
                        toggleConfiguredElement();
                    }
                },
                error: function(data, status, xhr) {
                    if(data.status == 412) {
                        var dependencies = data.responseJSON;
                        var msg = 'The following entities have a dependency on this element:';
                        $.each(dependencies, function() {
                            msg += "\n"+ this['name'] +" ("+ this['uri'] +")";
                        });
                        alert(msg);
                    } else {
                        alert('Unable to save the {{ subtab }}.  An unknown error occurred');
                    }
                }
            });
            $.unblockUI();
        }
    });
    $(".dev_state").click(function() {
        if(confirm('Are you sure you want to toggle state of this device?')) {
            loadingBlockUI("Toggling device state")
            rpc_call = {
              'call': 'device_state',
              'args': {
                'active': parseInt($(this).data('state'))
              }
            };
            $.ajax({
                url : '{{ url_for('api_device') }}/'+ $(this).data('identifier'),
                contentType : 'application/json-rpc',
                data: JSON.stringify(rpc_call),
                type : 'POST',
                success: function(data, status, xhr) {
                    if(xhr.status == 200) {
                      alert('Successfully toggled device state');
                      location.reload();
                    }
                },
                error: function(data, status, xhr) {
                    alert('Unable to toggle device state.  Please look at server logs');
                }
            });
            $.unblockUI();
        }
    });

    // Toggle on boot
    toggleConfiguredElement();
  });

  function toggleConfiguredElement() {
    if($(".delete").length == 0) {
        $('#no-configured-elements').show();
    } else {
        $('#no-configured-elements').hide();
    }
  }
</script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="row">
  <div class="col">
    <div class="alert alert-primary">
      Here you can configure devices. Devices need to exist here before they can actually send data to MAD. The device "Origin" must be <strong>unique</strong>. The same name needs to be entered in PogoDroid and RemoteGPSController to identify the device.
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th style="width: 30%" class="align-middle"><input type="checkbox" id="selectAll"> Origin</th>
          <th style="width: 20%" class="align-middle d-none d-lg-table-cell">Settings</th>
          <th style="width: 30%" class="align-middle">Walker <i class="fas fa-info-circle" data-toggle="tooltip" title="Changing a walker for a device is saved automatically"></i></th>
          <th style="width: 20%" class="text-right align-middle"><a href='{{ url_for('settings_devices', id='new') }}'><button type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button></a></th>
        </tr>
      </thead>
      {% if device is none %}
        <div id='no-configured-elements' class="alert alert-info">No devices added yet</div>
      {% else %}
      <tbody>
      {% for dev_uri, device in device.items() %}
        <tr>
          <td class="align-middle">
            <input type="checkbox" class="bulk_sel" data-identifier="{{ dev_uri }}">
            <a href="{{ url_for('settings_devices', id=dev_uri) }}">{{ device.origin }}</a>
          </td>
          <td class="align-middle d-none d-lg-table-cell">
            <p style="font-size: 65%; min-height: 50px; display: inline-box">
            {% for key in device.settings|sort %}
            {% if key in ["post_walk_delay", "post_teleport_delay", "walk_after_teleport_distance", "mitm_wait_timeout", "restart_thresh"] %}
            {{ key }}: {{ device.settings[key] }}<br>
            {% endif %}
            {% endfor %}
            </p>
          </td>
          <td class="align-middle">
            <select class="form-control form-control-sm walker_sel_single" data-identifier="{{ dev_uri }}">
              {% for walker_uri, walker in walkers.items() %}
               <option name="{{ url_for('api_walker') + '/'+ walker_uri|string }}" {{ 'selected=selected' if device.walker == walker_uri else "" }}>{{ walker.walkername }}</option>
              {% endfor %}
            </select>
          </td>
          <td class="text-right align-middle">
            <a href="{{ redirect }}?id={{ dev_uri }}"><button type="button" class="btn btn-success btn-sm edit" data-identifier="{{ loop.index }}" data-toggle="tooltip" title="Edit worker"><i class="far fa-edit"></i></button></a>
            {% if device.state == 1 %}
              <button data-identifier='{{ dev_uri }}' type="button" data-state="0" class="dev_state btn btn-info btn-sm" data-toggle="tooltip" title="Pause worker"><i class="fas fa-pause"></i></button>
            {% else %}
              <button data-identifier='{{ dev_uri }}' type="button" data-state="1" class="dev_state btn btn-info btn-sm" data-toggle="tooltip" title="Start paused worker"><i class="fas fa-play"></i></button>
            {% endif %}
            <button data-identifier='{{ dev_uri }}' type="button" class="delete btn btn-danger btn-sm" data-toggle="tooltip" title="Delete worker"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    Bulk update selected workers
    <select class='bulk_update'>
      <option value="None">None</option>
      {% for walker_id, walker in walkers.items() %}
       <option value="{{ url_for('api_walker') + '/'+ walker_id|string }}">Set walker to {{ walker.walkername }}</option>
      {% endfor %}
      {% for pool_id, pool in pools.items() %}
       <option value="{{ url_for('api_devicepool') + '/'+ pool_id|string }}">Set devicepool to {{ pool.devicepool }}</option>
      {% endfor %}
      <option value='flush_level'>Clear levelup data</option>
    </select>
  </div>
</div>
{% endblock %}
