{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="static/style/madmin.css" />
{% endblock %}

{% block scripts %}
<style>
    div.container {
        width: 80%;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script>
    var dataTable;
    function setGrid(tableGridHtmlId, gridData) {
        if ($.fn.dataTable.isDataTable(tableGridHtmlId)) {
            dataTable.destroy();
        }
        dataTable = $(tableGridHtmlId).DataTable({
            "data": gridData,
            "columns": [
                {
                    data: 'name', title: 'Origin',
                    "render": function (data, type, oData) {
                        return "<a href='{{ url_for('settings_devices') }}?id=" + oData.device_id + "'>" + oData.name + "</a>";
                    }
                },
                {data: 'lastProtoDateTime', title: 'Last Update'},
                {data: 'currentSleepTime', title: 'Next Action'},
                {
                    data: 'rmname', title: 'Route',
                    "render": function (data, type, oData) {
                        if (oData.rmname != 'Idle') {
                            return "<a href='{{ url_for('settings_areas') }}?id=" + oData.area_id + "&mode=" + oData.mode + "'>" + oData.rmname + "</a>";
                        } else {
                            return 'Idle';
                        }
                    }
                },
                {data: 'routeMax', title: 'Route Length'},
                {data: 'init', title: 'Init Mode'},
                {data: 'restartCounter', title: 'Restart Counter'},
                {data: 'globalrestartcount', title: 'Total Restarts'},
                {data: 'lastPogoRestart', title: 'Last Restart'},
                {data: 'rebootingOption', title: 'Reboot Device'},
                {data: 'rebootCounter', title: 'Reboot Counter'},
                {data: 'globalrebootcount', title: 'Total Reboots'},
                {data: 'lastPogoReboot', title: 'Last Reboot'},
                {data: 'currentPos', title: 'Current Pos'},
                {data: 'lastPos', title: 'Last Pos'}
            ],
            "columnDefs": [
                {
                    "targets": [5, 9],
                    "render": function (data, type, row) {
                        return (parseInt(data) == 0 ? "False" : "True");
                    }
                },
                {
                    "targets": [4],
                    "render": function (data, type, row) {
                        return row.routePos + "/" + row.routeMax
                    }
                },
                {
                    "targets": [1, 8, 12],
                    "render": function (data, type, row) {
                        var dateToShow = moment.utc(data * 1000);
                        if (dateToShow.isValid() && data != null && data != undefined) {
                            return toHHMMSS(Math.abs(dateToShow.diff(moment.utc()) / 1000));
                        }
                        return "None";
                    }
                },
                {
                    "targets": [2],
                    "render": function (data, type, row) {
                        return toHHMMSS(data);
                    }
                }
            ],
            "order": [[0, "asc"]],
            "responsive": {{ responsive }},
            "autoWidth": false,
            "stateSave": true,
            "stateDuration": 0,                                    
            "stateSaveCallback": function(settings,data) {
            localStorage.setItem( 'MAD_STATUS_' + settings.sInstance, JSON.stringify(data) )
            },
            "stateLoadCallback": function(settings) {
                return JSON.parse( localStorage.getItem( 'MAD_STATUS_' + settings.sInstance ) )
            }
        });
    }

    var toHHMMSS = (secs) => {
        var sec_num = parseInt(secs, 10)
        var hours   = Math.floor(sec_num / 3600)
        var minutes = Math.floor(sec_num / 60) % 60
        var seconds = sec_num % 60

        return [hours,minutes,seconds]
            .map(v => v < 10 ? "0" + v : v)
            .filter((v,i) => v !== "00" || i > 0)
            .join(":")
    }

    function getStatusData() {
        return $.ajax({
            type: "GET",
            url: "get_status",
            success: function (result) {
                return result;
            }
        });
    }

    function reloadGrid() {
        getStatusData().then(function (result) {
            setGrid('#show-data', result);
        });
    }

    $(document).ready(function () {
        $("#navstatus").addClass("active");

        getStatusData().then(function (result) {
            setGrid('#show-data', result);
            setInterval(reloadGrid, 10000);
        });
    });
</script>

{% endblock %}

{% block content %}
<h2>Worker Status</h2>
<div class="card border-secondary">
  <div class="card-body py-2">
    <p class="card-text">View workers and their current status.  Times are displayed as HH:MM:SS.  HH is only specified if required</p>
  </div>
</div>
<br>
<table id="show-data" class="table"></table>
{% endblock %}
