{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="static/style/madmin.css" />
{% endblock %}

{% block scripts %}
<style>
    div.container {
        width: 80%;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script>
    var dataTable = $("#show-data-status").DataTable({
            "ajax": {
                "url": "get_status",
                "dataSrc": ""
            },
            "columns": [
                {
                    data: 'name', title: 'Origin',
                    "render": function (data, type, oData) {
                        return "<a href='{{ url_for('settings_devices') }}?id=" + oData.device_id + "'>" + oData.name + "</a>";
                    }
                },
                {data: 'lastProtoDateTime', title: 'Last Update'},
                {data: 'currentSleepTime', title: 'Next Action'},
                {
                    data: 'rmname', title: 'Route',
                    "render": function (data, type, oData) {
                        if (oData.rmname != 'Idle') {
                            return "<a href='{{ url_for('settings_areas') }}?id=" + oData.area_id + "&mode=" + oData.mode + "'>" + oData.rmname + "</a>";
                        } else {
                            return 'Idle';
                        }
                    }
                },
                {data: 'routeMax', title: 'Route Length'},
                {data: 'init', title: 'Init Mode'},
                {data: 'restartCounter', title: 'Restart Counter'},
                {data: 'globalrestartcount', title: 'Total Restarts'},
                {data: 'lastPogoRestart', title: 'Last Restart'},
                {data: 'rebootingOption', title: 'Reboot Device'},
                {data: 'rebootCounter', title: 'Reboot Counter'},
                {data: 'globalrebootcount', title: 'Total Reboots'},
                {data: 'lastPogoReboot', title: 'Last Reboot'},
                {
                    data: '', title: 'Commands',
                    "render": function (data, type, oData) {
                        return "<center><button type='button' class='delete btn btn-danger btn-sm confirm' data-deviceid='" + oData.device_id + "'><div class='delete_div' style='display:inline;'><i class='fa fa-trash'></i></div></button> <button type='button' class=' reset btn btn-info btn-sm' data-deviceid='" + oData.device_id + "'><div class='delete_div' style='display:inline;'><i class='fas fa-undo'></i></i></div></button></center>";
                    }
                }            ],
            "columnDefs": [
                {
                    "targets": [5, 9],
                    "render": function (data, type, row) {
                        return (parseInt(data) == 0 ? "False" : "True");
                    }
                },
                {
                    "targets": [4],
                    "render": function (data, type, row) {
                        return row.routePos + "/" + row.routeMax
                    }
                },
                {
                    "targets": [1],
                    "render": function (data, type, row) {
                        if (type == "sort") { return data; }
                        var dateToShow = moment.utc(data * 1000);
                        if (dateToShow.isValid() && data != null && data != undefined) {
                            return toHHMMSS_mark(Math.abs(dateToShow.diff(moment.utc()) / 1000));
                        }
                        return "None";
                    }
                },
                {
                    "targets": [8, 12],
                    "render": function (data, type, row) {
                        if (type == "sort") { return data; }
                        var dateToShow = moment.utc(data * 1000);
                        if (dateToShow.isValid() && data != null && data != undefined && data > 0) {
                            return toHHMMSS(Math.abs(dateToShow.diff(moment.utc()) / 1000));
                        }
                        return "None";
                    }
                },
                {
                    "targets": [2],
                    "render": function (data, type, row) {
                        return toHHMMSS(data);
                    }
                }
            ],
            "order": [[0, "asc"]],
            "responsive": {{ responsive }},
            "autoWidth": false,
            "stateSave": true,
            "stateDuration": 0
        });
    
    var toHHMMSS_mark = (secs) => {
        var sec_test = parseInt(secs, 10);
        if (sec_test <  localStorage['MAD_MAXSECONDS_STATUS']) {
                return "<i class='fas fa-check' style='color: green !important;'></i>";
        }
        return toHHMMSS(secs);
    }
    
    var toHHMMSS = (secs) => {
        var sec_num = parseInt(secs, 10)
        var hours   = Math.floor(sec_num / 3600)
        var minutes = Math.floor(sec_num / 60) % 60
        var seconds = sec_num % 60

        return [hours,minutes,seconds]
            .map(v => v < 10 ? "0" + v : v)
            .filter((v,i) => v !== "00" || i > 0)
            .join(":")
    }
    
    $(document).ready(function () {
        $("#navstatus").addClass("active");
        $('input#maxSeconds').val(localStorage["MAD_MAXSECONDS_STATUS"]);
        $('input#maxSeconds').on('input', function() {
                localStorage['MAD_MAXSECONDS_STATUS'] = $(this).val();
        });

        setInterval(function () {
                dataTable.ajax.reload(null, false); //user paging is not reset on reload
        }, 10000);
    });

    $( "#show-data-status" ).on( "click", 'button.delete', function(e) {
        e.stopImmediatePropagation();
        var r = confirm("You really want to delete this entry?");
        if (r != true) {
             return;
        }
        var delete_div = $(this).find(".delete_div");

        delete_div.empty();
        elem = $(document.createElement("img")).attr({
                      'src': "{{ url_for('static', filename='loading.gif') }}",
                      'class': 'convert_disp fa',
                      'width': '13px',
                      'heigth': '13px'
                    });
        delete_div.append(elem);
        var deviceid = $(this).data('deviceid');


        $.ajax({
            type: 'GET',
            url:'delete_status_entry',
            data:'deviceid='+ deviceid,
            success: function(msg){
            if (msg.status == 'success') {
                 dataTable.ajax.reload(null, false);
            }
            },
            error: function(msg) {
                alert(msg);
                delete_div.empty();
                elem = $(document.createElement("i")).attr({
                      'class': 'fa fa-minus-circle',
                });
                delete_div.append(elem);
            }
        });

     });

     $( "#show-data-status" ).on( "click", 'button.reset', function(e) {
        e.stopImmediatePropagation();
        var r = confirm("You really want to reset the count values?");
        if (r != true) {
             return;
        }
        var delete_div = $(this).find(".delete_div");

        delete_div.empty();
        elem = $(document.createElement("img")).attr({
                      'src': "{{ url_for('static', filename='loading.gif') }}",
                      'class': 'convert_disp fa',
                      'width': '13px',
                      'heigth': '13px'
                    });
        delete_div.append(elem);
        var deviceid = $(this).data('deviceid');


        $.ajax({
            type: 'GET',
            url:'reset_status_entry',
            data:'deviceid='+ deviceid,
            success: function(msg){
            if (msg.status == 'success') {
                 dataTable.ajax.reload(null, false);
            }
            },
            error: function(msg) {
                alert(msg);
                delete_div.empty();
                elem = $(document.createElement("i")).attr({
                      'class': 'fa fa-minus-circle',
                });
                delete_div.append(elem);
            }
        });

     });

</script>
<style>
   table.dataTable tr.odd { background-color: #F8F8F8; }
   table.dataTable tr.even { background-color: white; }
</style>

{% endblock %}

{% block content %}
<h2>Worker Status</h2>
<div class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle float-right btn-sm" data-toggle="dropdown">Legend</button>
  <ul class="dropdown-menu dropdown-menu-right">
      <li class="dropdown-item"><button type='button' class='delete btn btn-danger btn-sm confirm'><i class='fa fa-trash'></i></button> Delete worker stats from database</li>
      <li class="dropdown-item"><button type='button' class=' reset btn btn-info btn-sm'><i class='fas fa-undo'></i></i></button> Reset workers stats</li>
  </ul>
</div>
<br>
<div class="card border-secondary">
  <div class="card-body py-2">
    <p class="card-text">View workers and their current status.  Times are displayed as HH:MM:SS.  HH is only specified if required</p>
  </div>
</div>
<br>
<table id="show-data-status" class="table"></table>
<div class="card border-secondary">
  <div class="card-body py-2">
    <p class="card-text">How many seconds for <i class="fas fa-check" style="color: green !important;"></i> in Last Updated? <input type="number" id="maxSeconds" /></p>
  </div>
</div>
<br />
{% endblock %}
