{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="static/js/jquery.flot.axislabels.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script>
    $(function () {

        var options_dots = {
            xaxis: {
                mode: "time",
                {% if time == "12" %}
                timeformat: "%d.%m<br>%I:00 %p - ",
                {% else %}
                timeformat: "%d.%m<br>%H:00 - ",
                {% endif %}
                minTickSize: [1, "hour"],
                timezone: "browser"
            },
            series: {
                lines: {
                    show: true,
                    color: '#ffa500'
                },
                points: {
                    show: true
                }
            },
            grid: {
                hoverable: true,
                borderWidth: 1,
                backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
            },
            legend: {
                container: $("#legendContainer_spawn"),
                noColumns: 0
            }
        };

        var options_bars = {
            xaxis: {
                mode: "time",
            {% if time == "12" %}
                timeformat: "%I:00 %p",
            {% else %}
                timeformat: "%H:00",
            {% endif %}
                timezone: "browser"
            },
            series: {
                bars: {
                    show: true
                }
            },
            bars: {
                align: "center",
                barWidth: 60 * 40 * 1000
            },
            grid: {
                hoverable: true,
                borderWidth: 2,
                backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
            }
        };

        var options_pie = {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    tilt: 0.5,
                    label: {
                        show: true,
                        radius: 0.8,
                        threshold: 0.1
                    }
                }
            },
            legend: {
                show: true,
                labelFormatter: function (label, series) {
                    return '<div id="legendContainer" style="color:black;">' +
                        label + ' : ' +
                        (series.data[0][1]) +
                        '</div>';
                }
            }
        };

        $.blockUI({ message: '<img src="{{ url_for('static', filename='loading.gif').lstrip('/') }}" width="100px" /><br /><h2>Load...</h2>' });

        $.ajax({
            "url": "get_game_stats_mon?minutes_spawn={{ minutes_spawn }}&minutes_usage={{ minutes_usage }}",
            "type": "GET",
            "cache": false,
            "dataType": "json",
            success: function (result) {
                spawn = result.spawn
                good_spawns = result.good_spawns
                detection = result.detection
                shiny = result.shiny
                shiny_worker = result.shiny_worker
                shiny_hour = result.shiny_hour
                shiny_stats_avg = result.shiny_stats_avg

                setGrid('#show-data-good-pokemon', good_spawns, [
                    { data: 'id', title: 'Mon-ID' },
                    { data: 'name', title: 'Name' },
                    { data: null, title: 'Pic' },
                    { data: 'iv', title: 'IV' },
                    { data: 'lvl', title: 'Level' },
                    { data: 'cp', title: 'CP' },
                    { data: 'periode', title: 'Scantime' }
                ], [
                {
                    "targets": [2],
                    "render": function (data, type, row) {
                        return "<img src=" + row.img + " width=100>";
                    }
                }
                ]);

                setGrid('#show-data-shiny-worker', shiny_worker, [
                    { data: 'worker', title: 'Worker' },
                    { data: 'sum', title: 'Sum of all' }

                ]);

                setGrid('#show-data-shiny', shiny, [
                    { data: 'sum', title: 'Sum of all' },
                    { data: 'shiny', title: 'Shiny' },
                    { data: 'name', title: 'Name' },
                    { data: null, title: 'Pic' },
                    { data: 'ratio', title: 'Ratio' },
                    { data: 'worker', title: 'Worker' }

                ], [
                {
                    "targets": [3],
                    "render": function (data, type, row) {
                        return "<img src=" + row.img + " width=100>";
                    }
                }
                ]);
                setGrid('#show-data-shiny-avg', shiny_stats_avg, [
                    { data: 'avg', title: 'Worker Encounter AVG' },
                    { data: 'amount', title: 'Shiny' },
                    { data: 'name', title: 'Name' },
                    { data: null, title: 'Pic' },
                    { data: 'click_for_shiny', title: 'AVG Encouter for one Shiny' }

                ], [
                {
                    "targets": [3],
                    "render": function (data, type, row) {
                        return "<img src=" + row.img + " width=100>";
                    }
                }
                ]);

                $.plot($("#flot_spawn"), [
                    {
                        data: spawn.iv,
                        label: "IV Spawns / Hour"
                    },
                    {
                        data: spawn.noniv,
                        label: "NonIV Spawns / Hour"
                    },
                    {
                        data: spawn.sum,
                        label: "Sum Spawns / Hour"
                    }
                ], options_dots);
                $("#flot_spawn").UseTooltip();

                $.plot($("#flot_shiny_hour"), [
                    {
                        data: shiny_hour,
                        label: "Shiny / Hour"
                    }
                ], options_bars);
                $("#flot_shiny_hour").UseTooltip();


            },
            complete: function () {
                setTimeout($.unblockUI, 100);
            }

        });

        var previousPoint = null, previousLabel = null;

        $.fn.UseTooltip = function () {
            $(this).bind("plothover", function (event, pos, item) {
                if (item) {
                    if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                        previousPoint = item.dataIndex;
                        previousLabel = item.series.label;
                        $("#tooltip").remove();

                        var x = item.datapoint[0];
                        var y = item.datapoint[1];
                        var color = item.series.color;
                        showTooltip(item.pageX,
                            item.pageY,
                            color,
                            "<strong>" + item.series.label + "</strong><br><strong>Amount:</strong> " + y + "<br><strong>Hour</strong>: " + timeConverter(x, 'hour') + "</strong>");
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        };

        $.fn.UseTooltipFull = function () {
            $(this).bind("plothover", function (event, pos, item) {
                if (item) {
                    if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                        previousPoint = item.dataIndex;
                        previousLabel = item.series.label;
                        $("#tooltip").remove();

                        var x = item.datapoint[0];
                        var y = item.datapoint[1];
                        var color = item.series.color;
                        showTooltip(item.pageX,
                            item.pageY,
                            color,
                            "<strong>" + item.series.label + "</strong><br><strong>Amount:</strong> " + y + "<br><strong>Time</strong>: " + timeConverter(x, 'full') + "</strong>");
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        };

        function timeConverter(timestamp, mode) {
            var a = new Date(timestamp);
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = a.getHours();
            var hour_till = a.getHours() + 1;
            var min = a.getMinutes();
            min = min < 10 ? '0' + min : min;
            var sec = a.getSeconds();
            sec = sec < 10 ? '0' + sec : sec;

            {% if time == "12" %}
            var ampm = hour >= 12 ? 'pm' : 'am';
            hour = hour % 12;
            hour = hour ? hour : 12;
            hour_till = hour_till % 12;
            hour_till = hour_till ? hour_till : 12;
            hour_till + ' ' + ampm;
            sec = sec + ' ' + ampm;
            {% endif %}

            if (mode == 'hour') {
                var time = hour + ' - ' + hour_till
            } else {
                var time = hour + ':' + min + ':' + sec
            }
            return time;
        }

        function showTooltip(x, y, color, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y - 40,
                left: x - 120,
                border: '2px solid ' + color,
                padding: '3px',
                'font-size': '9px',
                'border-radius': '5px',
                'background-color': '#fff',
                'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                opacity: 0.9
            }).appendTo("body").fadeIn(200);
        }

        function setGrid(tableGridHtmlId, gridData, columns, defs) {
        $(tableGridHtmlId).DataTable({
            "data": gridData,
            "searching": true,
            "paging": true,
            "columns": columns,
            "ordering": true,
            "columnDefs": defs,
            "responsive": {{ responsive }},
            "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
            dom: 'Blfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            "stripeClasses": [ 'odd', 'even' ],
            sorting: true,
            stateSave: true,
            stateSaveCallback: function(settings,data) {
            localStorage.setItem( 'DataTables_' + settings.sInstance, JSON.stringify(data) )
            },
            stateLoadCallback: function(settings) {
            return JSON.parse( localStorage.getItem( 'DataTables_' + settings.sInstance ) )
            }
        });
	    }



    });

</script>

<style type="text/css">
    #flot_usage {
        width: 100%;
        height: 300px;
    }

    #flot_spawn {
        width: 100%;
        height: 300px;
    }

    #flot_quest {
        width: 100%;
        height: 300px;
    }

    #flot_gym {
        width: 100%;
        height: 300px;
    }

    #flot_shiny_hour {
        width: 100%;
        height: 300px;
    }

    #legendContainer {
        background-color: #fff;
        padding: 2px;
        margin-bottom: 8px;
        display: inline-block;
        margin: 0 auto;
    }

    #flotcontainer {
        width: 600px;
        height: 200px;
        text-align: left;
    }

    #selector {
        font-size: 1.5em;
        margin: 10px;
    }
    table.dataTable tr.odd { background-color: #F8F8F8; }
    table.dataTable tr.even { background-color: white; }
</style>
{% endblock %}

{% block content %}
<h2>Spawn Statistics</h2>
<div id="selector">
    View {{ minutes_spawn }} minutes <br>Set:
    <a href="statistics_mon?minutes_spawn=10">10</a>
    <a href="statistics_mon?minutes_spawn=60">60</a>
    <a href="statistics_mon?minutes_spawn=120">120</a>
    <a href="statistics_mon?minutes_spawn=240">240</a>
    <a href="statistics_mon?minutes_spawn=480">480</a>
    <a href="statistics_mon?minutes_spawn=1440">1440</a>
    <a href="statistics_mon?minutes_spawn=10080">One Week</a>
    </div>
<br>
<div id="legendContainer_spawn"></div>
<div id="flot_spawn"></div>
<br>
<h2>Recent Perfect Pokemon</h2>
<table id="show-data-good-pokemon" class="table" style="width:100%;"></table>
<br>
<h2>Detected Shiny / Hour (all Worker)</h2>
<div id="flot_shiny_hour"></div>
<br>
<h2>Shiny Stats Type / Worker Detail View</h2>
<table id="show-data-shiny" class="table" style="width:100%;"></table>
<br>
<h2>Shiny Stats AVG</h2>
<table id="show-data-shiny-avg" class="table" style="width:100%;"></table>
<br>
<h2>Shiny Amount / Worker</h2>
<table id="show-data-shiny-worker" class="table" style="width:100%;"></table>
{% endblock %}
