{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>

<script>
    function setGrid(tableGridHtmlId, gridData) {
        $(tableGridHtmlId).DataTable({
            "data": gridData,
            "columns": [
                { data: 'name', title: 'Name' },
                { data: 'filename', title: 'Hashpic' },
                { data: 'dist', title: 'Distance' },
                { data: 'id', title: 'Match' }
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "render": function (data, type, row) {
                        return data + "<br /><br />Gym-ID: " + row.id;
                    }
                },
                {
                    "targets": [1],
                    "render": function (data, type, row) {
                        return "<img class='lazy' data-original='" + data + "' width=100>";
                    }
                },
                {
                    "targets": [3],
                    "render": function (data, type, row) {
                        return "<a href='modify_gym_hash?hash={{ hash }}&id=" + data + "'>Match to this Gym</a>";
                    }
                }
            ],
            "drawCallback": function () {
                $("img.lazy").lazyload();
            },
            "order": [[2, "asc"]],
            "responsive": {{ responsive }},
            "autoWidth": true
        });
	}

    $(document).ready(function () {
        var displayResources = $('#show-data');
        displayResources.text('Loading data ...');
        $.ajax({
            type: "GET",
            url: "near_gym?lat={{ lat }}&lon={{ lon }}",
            success: function (result) {
                setGrid('#show-data', result);
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<h2>Modify existing Gym</h2>
<h4><a href="gyms">Back to Gyms</a></h4>
<table id="show-data" class="table"></table>
{% endblock %}
