<html
<head>
	<meta charset="utf-8">
	<title>MADMIN - Map</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
	<link rel="icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
	<style>
		#mapouter {
			padding: 0px 30px;
			width: auto;
			height: 800px;
			max-height: 800px;
		}

		#map {
			width: 100%;
			height: 100%;
			border: 1px solid #333;
		}

		.gympopup .leaflet-popup-tip,
		.gympopup .leaflet-popup-content-wrapper {
			text-align: center;
		}
	</style>
</head>
<body>
	<center><h1>MAD Map</h1>
	<h4><a href=/>Back to Menu</a></h4></center>
	
	<div id="mapouter">
		<div id="map"></div>
	</div>
	<div>
	    <center>Add Geofence<br> <textarea rows="5" cols="50"name="coordPolygon" id="coordPolygon"/></textarea><br>
	    <input type="button" onclick="drawPolygon()" value="Add"/><br></center>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet-src.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script>
	function convertToLonLat(coords) {
		lonlat = []
		$.each(coords, function(k, v) {
			lonlat.push([v[1], v[0]]);
		})
		return lonlat;
	}

	$(document).ready(function () {
		var prevLoc = [0, 0];
		var poslay = L.layerGroup();
		var walklay = L.layerGroup();
		var marker = {};
		var spawn = L.circle;

		var gymicon = function(team) {
			return L.icon({
				iconUrl: 'static/gym_'+team+'.png',
				iconSize: [32, 32]
			});
		};

		var markericon = L.icon({
			iconUrl: 'static/bot.png',
			iconSize: [20, 20]
		});

		var title = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
		});
		
		var map = L.map('map', {layers: [title]}).setView([0, 0], 13);
		var baseLayers = {
			"Map": title
		};
		var baseControl = L.control.layers(baseLayers).addTo(map);
		
		spawntimes = L.layerGroup();
		spawns = L.layerGroup();
		gyms = L.layerGroup();
		fence = L.layerGroup();
		var overlays = {
			"Spawnpoints": spawns,
			"Spawnpoint times": spawntimes,
			"Gyms": gyms,
			"Geofence": fence
		};
		map.addLayer(spawntimes)
		map.addLayer(spawns);
		map.addLayer(gyms);
		map.addLayer(fence);
		map.removeControl(baseControl);
		mapControl = L.control.layers(baseLayers, overlays).addTo(map);

		$.getJSON({
			url: "/get_route",
			success: function(result) {
				$.each(result, function(pos, data) {
					walklay[pos] = L.layerGroup()
					mapControl.addOverlay(walklay[pos] , 'Route: ' + pos);
					map.addLayer(walklay[pos]);
						$.each(data, function(k, v) {
							L.circle(v, {
								radius: 15,
								color: "#9C3744",
								fillColor: "#F4556A",
								fillOpacity: 0.5,
								weight: 1,
								opacity: 0.2,
								fillOpacity: 0.1
							}).addTo(walklay[pos]);
						
						map.setView(v, map.getZoom());
						
					});

				    var geojson = {
					    "type": "LineString",
					    "coordinates": convertToLonLat(data)
				    }
				    
					L.geoJSON(geojson, {style: {"color": getRandomColor(), "weight": 2, "opacity": 0.5 }}).addTo(walklay[pos]).bindPopup(pos);
					
				});
			
		}});
		
		function getRandomColor() {
		  var letters = '0123456789ABCDEF';
		  var color = '#';
		  for (var i = 0; i < 6; i++) {
		    color += letters[Math.floor(Math.random() * 16)];
		  }
		  return color;
		}
		
		(function work() {
			$.getJSON({
			url: "/get_spawns",
			success: function(result) {

				$.each(result, function(k, v) {
					if(typeof spawn[k] !== 'undefined') {
						map.removeLayer(spawn[k]);
					}

					if(v['endtime'] !== null){ 
						var markertext = '<strong class="text-success">Known end time</strong><br>'
						var endsplit = v['endtime'].split(':');
						var endMinute = parseInt(endsplit[0]);
						var endSecond = parseInt(endsplit[1]);
						var despawntime = moment();
						var now = moment();

						if (v['spawndef'] == 15) {
							markertext += '<br>Type: 1h spawn<br>';
							var timeshift = 60;
						} else {
							markertext += '<br>Type: 30m spawn<br>';
							var timeshift = 30;
						}

						// setting despawn and spawn time
						despawntime.minute(endMinute);
						despawntime.second(endSecond);
						var spawntime = moment(despawntime);
						spawntime.subtract(timeshift, 'm');

						if (despawntime.isBefore(now)) {
							// already despawned. shifting hours
							spawntime.add(1, 'h');
							despawntime.add(1, 'h');
						}

						timeformat = 'YYYY-MM-DD HH:mm:ss';
						if (now.isBetween(spawntime, despawntime)) {
							markertext += "<br><strong>SPAWN ACTIVE</strong>"
							markertext += "<br>Spawned at: " + spawntime.format(timeformat);
							markertext += "<br>Despawns at: " + despawntime.format(timeformat);
							var color = "green";
						} else if (spawntime.isAfter(now)) {
							markertext += "<br>Spawns at: " + spawntime.format(timeformat);
							markertext += "<br>Despawns at: " + despawntime.format(timeformat);
							var color = "blue";
						}

					} else { 
						var markertext = '<strong class="text-danger">Unknown end time</strong><br>';
						var color = "red";
					}

					spawn[k] = L.circle([v['lat'], v['lon']], {
						radius: 2,
						color: color,
						fillColor: color,
						weight: 1,
						opacity: 0.7,
						fillOpacity: 0.5
					}).addTo(spawns)
						.bindPopup(markertext+'<br><br><a href="https://maps.google.de/?q='+v['lat']+','+v['lon']+'">'+v['lat']+', '+v['lon']+'</a>', 
							{'className': 'gympopup'})
				})
				    setTimeout(work, 60000);
			    }
			});
		})();
		
		$.getJSON({
			url: "/get_gymcoords",
			success: function(result) {
				$.each(result, function(k, v) {
					L.marker([v['lat'], v['lon']], {icon: gymicon(v['team_id'])})
						.bindPopup('<strong>'+v['name']+'</strong><br><br>'+v['id']+'<br><a href="https://maps.google.de/?q='+v['lat']+','+v['lon']+'">'+v['lat']+', '+v['lon']+'</a>',
							{'className': 'gympopup'})
						.addTo(gyms);
				});
			}
		});
		
		var t = 0;

		(function work() {
			$.getJSON({
				url: "/get_position",
				success: function(result) {
					var t = 0;
					$.each(result, function(pos, data) {
						
						if(!marker.hasOwnProperty(pos)) {
							poslay[pos] = L.layerGroup()
							mapControl.addOverlay(poslay[pos] , 'Worker: ' + pos);
							map.addLayer(poslay[pos]);
							marker[pos] = L.marker([0,0], { icon: markericon, title: "Bot position"})
								.bindPopup(pos)
								.addTo(poslay[pos]);
						}
						marker[pos].setLatLng(data[t])
						t = t +1;
					})
					setTimeout(work, 5000);
				}
			});
		})();
	});
	
	function drawPolygon() {
	            var coords = document.getElementById("coordPolygon").value;
				var json = '[';
				var lines = coords.split('\n');
				for(var i = 0;i < lines.length;i++){
					json = json.concat('[' , lines[i] , '],');
				}
				json = json.slice(0, -1);
				json = json.concat(']');
	            var a = JSON.parse(json);
	            var polygon = L.polygon(a, {color: 'red'});
	            polygon.addTo(fence);
	        }
	
	</script>
</body>
</html>
