{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-sidebar-v2@3.0.6/css/leaflet-sidebar.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<link rel="stylesheet" href="static/style/madmin.css?1571785075" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css" />
{% endblock %}

{% block scripts %}
<script>
var setlat = {{ setlat }};
var setlng = {{ setlng }};
</script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-sidebar-v2@3.0.6/js/leaflet-sidebar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<script src="static/js/madmin.js?1578414241"></script>
{% endblock %}

{% block content %}
<div id="app">
  <div id="sidebar" class="leaflet-sidebar">
    <div class="leaflet-sidebar-tabs">
      <ul role="tablist">
        <li><a href="#points" role="tab"><i class="fa fa-map-marker"></i></a></li>
        <li><a href="#routes" role="tab"><i class="fa fa-route"></i></a></li>
        <li><a href="#prioroutes" role="tab"><i class="fas fa-sort-numeric-up"></i></a></li>
        <li><a href="#geofences" role="tab"><i class="fa fa-draw-polygon"></i></a></li>
        <li><a href="#settings" role="tab"><i class="fa fa-cog"></i></a></li>
      </ul>
    </div>

    <div class="leaflet-sidebar-content">
      <div class="leaflet-sidebar-pane" id="points">
        <h1 class="leaflet-sidebar-header bg-dark">Points<div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
        <div class="sidebar-pane-content">
          <ul class="list-group list-group-flush">
            {% raw %}
            <li v-for="(item, index) in layers.stat" class="list-group-item layer-item d-flex">
              <div class="flex-grow-1">{{ index }}</div>
              <div class="custom-control custom-switch">
                <input :id="'layers-stat-'+index" type="checkbox" v-model="layers.stat[index]" class="custom-control-input" />
                <label :for="'layers-stat-'+index" class="custom-control-label"></label>
              </div>
            </li>
            {% endraw %}
          </ul>
        </div>
      </div>

      <div class="leaflet-sidebar-pane" id="routes">
        <h1 class="leaflet-sidebar-header bg-dark">Routes<div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
        <div class="sidebar-pane-content">
          <ul class="list-group list-group-flush">
            {% raw %}
            <li v-for="(route, index) in layers.dyn.routes" class="list-group-item layer-item justify-content-between d-flex align-items-center">
              <div class="flex-grow-1">{{ index }}</div>
              <span class="badge badge-secondary" style="margin-right: 5px;">{{ route.mode }}</span>
              <div class="custom-control custom-switch">
                <input :id="'layers-dyn-routes-'+index" type="checkbox" v-model="layers.dyn.routes[index].show" class="custom-control-input" />
                <label :for="'layers-dyn-routes-'+index" class="custom-control-label"></label>
              </div>
            </li>
            {% endraw %}
          </ul>
        </div>
      </div>

      <div class="leaflet-sidebar-pane" id="prioroutes">
        <h1 class="leaflet-sidebar-header bg-dark">Priority routes<div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
        <div class="sidebar-pane-content">
          <ul class="list-group list-group-flush">
            {% raw %}
            <li v-for="(route, index) in layers.dyn.prioroutes" class="list-group-item layer-item justify-content-between d-flex align-items-center">
              <div class="flex-grow-1">{{ index }}</div>
              <span class="badge badge-secondary" style="margin-right: 5px;">{{ route.mode }}</span>
              <div class="custom-control custom-switch">
                <input :id="'layers-dyn-prioroutes-'+index" type="checkbox" v-model="layers.dyn.prioroutes[index].show" class="custom-control-input" />
                <label :for="'layers-dyn-prioroutes-'+index" class="custom-control-label"></label>
              </div>
            </li>
            {% endraw %}
          </ul>
        </div>
      </div>

      <div class="leaflet-sidebar-pane" id="geofences">
        <h1 class="leaflet-sidebar-header bg-dark">Geofences<div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
        <div class="sidebar-pane-content">
          <ul class="list-group list-group-flush">
            {% raw %}
            <li v-for="(fence, index) in layers.dyn.geofences" class="list-group-item layer-item d-flex">
              <div class="flex-grow-1">{{ index }}</div>
              <div class="custom-control custom-switch">
                <input :id="'layers-dyn-geofences-'+index" type="checkbox" v-model="layers.dyn.geofences[index].show" class="custom-control-input" />
                <label :for="'layers-dyn-geofences-'+index" class="custom-control-label"></label>
              </div>
            </li>
            {% endraw %}
          </ul>
        </div>
      </div>

      <div class="leaflet-sidebar-pane" id="settings">
        <h1 class="leaflet-sidebar-header bg-dark">Settings<div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
        <div class="sidebar-pane-content">
          <ul class="list-group list-group-flush">
            <li class="list-group-item layer-item d-flex">
              <div class="flex-grow-1">Cleanup</div>
              <div class="custom-control custom-switch">
                <input :id="settings-cleanup" type="checkbox" v-model="settings.cleanup" class="custom-control-input" />
                <label :for="settings-cleanup" class="custom-control-label"></label>
              </div>
            </li>
            <li class="list-group-item layer-item d-flex">
              <div class="flex-grow-1">Raids visual radius</div>
              <div class="custom-control custom-switch">
                <input id="raidcoordinateradius" type="number" v-model="settings.routes.coordinateRadius.raids" max="1100" class="form-control form-control-sm" />
              </div>
            </li>
            <li class="list-group-item layer-item d-flex">
              <div class="flex-grow-1">Mons visual radius</div>
              <div class="custom-control custom-switch">
                <input id="moncoordinateradius" type="number" v-model="settings.routes.coordinateRadius.mons" max="1100" class="form-control form-control-sm" />
              </div>
            </li>
            <li class="list-group-item layer-item d-flex">
              <div class="flex-grow-1">Quests visual radius</div>
              <div class="custom-control custom-switch">
                <input id="questcoordinateradius" type="number" v-model="settings.routes.coordinateRadius.quests" max="1100" class="form-control form-control-sm" />
              </div>
            </li>
            <li class="list-group-item layer-item d-flex">
              <div class="flex-grow-1">Map tiles</div>
              <div class="form-group">
                {% raw %}
                <select class="form-control form-control-sm" v-model="settings.maptiles">
                  <option v-for="(maptile, index) in maptiles" v-bind:value="index">{{ maptile.name }}</option>
                </select>
                {% endraw %}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="injectionModal" tabindex="-1" role="dialog" aria-labelledby="injectionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="injectionModalLabel">Inject Location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="injectLocation">Selected location</label>
            <input type="text" id="injectLocation" class="form-control">
          </div>

          <div class="form-group">
            <label for="injectWorker">Would you like to send a scanner to update this location?</label>
            <select id="injectionWorker" class="form-control">
              {% raw %}
              <option v-for="worker in workers">
                {{ worker.name }}
              </option>
              {% endraw %}
            </select>
          </div>

          <div class="form-group">
            <label for="injectionSleep">Extra sleep time (in seconds, optional):</label>
            <input type="number" class="form-control" id="injectionSleep" value="0">
          </div>
          <p class="alert alert-info">Info: This is a rather experimental feature.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" v-on:click="injectLocation" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <div id="map"></div>
</div>
{% endblock %}
