{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-sidebar-v2@3.0.6/css/leaflet-sidebar.min.css" />
<link rel="stylesheet" href="static/style/madmin.css" />
{% endblock %}

{% block scripts %}
<script src="https://vuejs.org/js/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous" defer></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-sidebar-v2@3.0.6/js/leaflet-sidebar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script>
new Vue({
	el: '#app',
	data: {
		map: null,
		layers: {
			spawnpoints: {
				show: false,
				l_group: null
			},
			routes: {
				show: false,
				l_group: null
			},
			gyms: {
				show: false,
				l_group: null
			},
			worker: {
				show: true
			}
		},
		coordinates: {
			route: {
				raid: [],
				mon: []
			},
			gyms: []
		},
		settings: {
			routes: {
				coordinateRadius: {
					raid: 490,
					mon: 67
				}
			}
		}
	},
	watch: {
		layers: {
			deep: true,
			handler: function() {
				for (k in this.layers) {
					tlayer = this.layers[k];

					if (tlayer.l_group == null) {
						continue;
					}

					if (tlayer.show == true && !this.map.hasLayer(tlayer.l_group)) {
						this.map.addLayer(tlayer.l_group);
					} else if (tlayer.show == false && this.map.hasLayer(tlayer.l_group)) {
						this.map.removeLayer(tlayer.l_group);
					}
				}
			}
		},
		'settings.routes.coordinateRadius': {
			deep: true,
			handler: function() {
				for (routetype in this.settings.routes.coordinateRadius) {
					this.coordinates.route[routetype].forEach(function(route) {
						this.setCircleRadiusForRoute(route, routetype);
					}, this);
				}
			}
		}
	},
	mounted() {
		// init our map first
		this.initMap();

		// get vue object into here
		var that = this;

		axios.get('/get_gymcoords').then(function(res) {
			var l_gyms = L.layerGroup();

			res.data.forEach(function(gym) {
				L.marker([gym['lat'], gym['lon']], { icon: that.gymicon(gym['team_id'])})
					.bindPopup('<div id="gymImage" style="background: url(&quot;'+gym['img']+'&quot;) center center no-repeat;"></div><div id="gymName"><strong>'+gym['name']+'</div><div id="gymID"></strong>'+gym['id']+'</div><div id="gymCoords"><a href="https://maps.google.com/?q='+gym['lat']+','+gym['lon']+'">'+gym['lat']+', '+gym['lon']+'</a></div>',
						{ 'className': 'gympopup' })
					.addTo(l_gyms);
			});

			that.layers.gyms.l_group = l_gyms;
		});

		axios.get('/get_route').then(function(res) {
			var l_routes = L.featureGroup();

			res.data.forEach(function(route) {
				var group = L.layerGroup();
				var coords = [];

				if (route.mode == "mon_mitm") {
					mode = "mon";
					cradius = that.settings.routes.coordinateRadius.mon;
				} else {
					mode = "raid";
					cradius = that.settings.routes.coordinateRadius.raid;
				}

				route.coordinates.forEach(function(coord) {
					circle = L.circle(coord, {
						radius: cradius,
						color: "#9C3744",
						fillColor: "#F4556A",
						fillOpacity: 1,
						weight: 1,
						opacity: 0.2,
						fillOpacity: 0.1
					});

					circle.addTo(group);
					coords.push(circle);
				});

				// add these coordinates to our global list
				that.coordinates.route[mode].push(coords);

				var geojson = {
					"type": "LineString",
					"coordinates": that.convertToLonLat(route.coordinates)
				}

				// add route to layergroup
				L.geoJSON(geojson, { style: { "color": "#FF0000", "weight": 2, "opacity": 0.5 } }).addTo(group);
				// add layer group to routes featureGroup
				group.addTo(l_routes)
			});
		
			that.layers.routes.l_group = l_routes;
		});

		axios.get('/get_spawns').then(function(res) {
			var l_spawns = L.layerGroup();

			res.data.forEach(function(spawn) {
				if (spawn['endtime'] !== null) {
					var markertext = '<strong class="text-success">Known end time</strong><br>'
					var endsplit = spawn['endtime'].split(':');
					var endMinute = parseInt(endsplit[0]);
					var endSecond = parseInt(endsplit[1]);
					var despawntime = moment();
					var now = moment();

					if (spawn['spawndef'] == 15) {
						markertext += '<br>Type: 1h spawn<br>';
						var timeshift = 60;
					} else {
						markertext += '<br>Type: 30m spawn<br>';
						var timeshift = 30;
					}

					// setting despawn and spawn time
					despawntime.minute(endMinute);
					despawntime.second(endSecond);
					var spawntime = moment(despawntime);
					spawntime.subtract(timeshift, 'm');

					if (despawntime.isBefore(now)) {
						// already despawned. shifting hours
						spawntime.add(1, 'h');
						despawntime.add(1, 'h');
					}

					timeformat = 'YYYY-MM-DD HH:mm:ss';
					if (now.isBetween(spawntime, despawntime)) {
						markertext += "<br><strong>SPAWN ACTIVE</strong>"
						markertext += "<br>Spawned at: " + spawntime.format(timeformat);
						markertext += "<br>Despawns at: " + despawntime.format(timeformat);
						overlaytext = 'Despawn ' + despawntime.fromNow();
						var color = "green";
					} else if (spawntime.isAfter(now)) {
						markertext += "<br>Spawns at: " + spawntime.format(timeformat);
						markertext += "<br>Despawns at: " + despawntime.format(timeformat);
						overlaytext = 'Spawn ' + spawntime.fromNow();
						var color = "blue";
					}
				} else {
					var markertext = '<strong class="text-danger">Unknown end time</strong><br>';
					var color = "red";
				}

				L.circle([spawn['lat'], spawn['lon']], {
					radius: 2,
					color: color,
					fillColor: color,
					weight: 1,
					opacity: 0.7,
					fillOpacity: 0.5
				}).addTo(l_spawns)
					.bindPopup(markertext + '<br><br><a href="https://maps.google.com/?q=' + spawn['lat'] + ',' + spawn['lon'] + '">' + spawn['lat'] + ', ' + spawn['lon'] + '</a>',{'className': 'gympopup'})
			});

			that.layers.spawnpoints.l_group = l_spawns;
		});
	},
	methods: {
		l_event_moveend() {
			var center = this.map.getCenter();
			localStorage.setItem('center', center.lat+','+center.lng);
		},
		l_event_zoomed() {
			localStorage.setItem('zoomlevel', this.map.getZoom());
		},
		convertToLonLat(coords) {
			lonlat = []
			coords.forEach(function(coord) {
				lonlat.push([coord[1], coord[0]]);
			});
			return lonlat;
		},
		setCircleRadiusForRoute(route, type) {
			route.forEach(function(circle) {
				circle.setRadius(this.settings.routes.coordinateRadius[type]);
			}, this);
		},
		gymicon(team) {
			return L.icon({
				iconUrl: 'static/gym_' + team + '.png',
				iconSize: [32, 32]
			});
		},
		initMap() {
			// get stored center and zoom level if they exists
			const storedZoom = localStorage.getItem('zoomlevel') || 13;
			const storedCenter = localStorage.getItem('center') || '52.521374,13.411201';
			const layer = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png');

			this.map = L.map('map', { layers: [layer], zoomControl: false}).setView(storedCenter.split(','), storedZoom);

			L.control.sidebar({
				autopan: false,
				closeButton: true,
				container: "sidebar",
				position: "left",
			}).addTo(this.map);

			this.map.on('zoomend', this.l_event_zoomed);
			this.map.on('moveend', this.l_event_moveend);
		}
	}
});
</script>
{% endblock %}

{% block content %}
<div id="app">
	<div id="sidebar" class="leaflet-sidebar collapsed">
			<div class="leaflet-sidebar-tabs">
				<ul role="tablist">
					<li><a href="#home" role="tab"><i class="fa fa-home"></i></a></li>
				</ul>
			</div>

			<div class="leaflet-sidebar-content">
				<div class="leaflet-sidebar-pane" id="home">
					<h1 class="leaflet-sidebar-header">Settings<div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<strong>Spawnpoints</strong>
							<div class="material-switch float-right">
								<input id="spawnpointscheckbox" type="checkbox" v-model="layers.spawnpoints.show"/>
								<label for="spawnpointscheckbox" class="badge-primary"></label>
							</div>
						</li>
						<li class="list-group-item">
							<strong>Routes</strong>
							<div class="material-switch float-right">
								<input id="routescheckbox" type="checkbox" v-model="layers.routes.show" />
								<label for="routescheckbox" class="badge-primary"></label>
							</div>
						</li>
						<li class="list-group-item">
							<strong>Gyms</strong>
							<div class="material-switch float-right">
								<input id="gymscheckbox" type="checkbox" v-model="layers.gyms.show"/>
								<label for="gymscheckbox" class="badge-primary"></label>
							</div>
						</li>
					</ul>
				</div>
			</div>
	</div>
	<div id="map"></div>
</div>
{% endblock %}
