{% extends "base.html" %}

{% block header %}
<style>
  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  #inputdata {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /*width: 80%;*/
  }

  hr {
    border-style: solid;
    border-color: lightgray;
  }


   .screen {
        float: left;
        width: 30%;
        border: black 2px;
        border-style: solid;
        margin: 10px;
    }

    img.screenshot {
        width: 100%;
    }

   .phonename {
        font-size: larger;
        text-align: center;
        background-color: lightgray;
        width: 100%;
    }

    div#button {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        color: white;
        font-size: x-large;
    }
    @media only screen and (max-width: 600px) {
    .screen {
        width: 90%;
        border: black 2px;
        border-style: solid;
        margin: 10px;
    }

    }

}
</style>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $("img").on("click", function(event) {
        id = event.target.id;
        var imagex = this.width / (event.pageX - this.offsetLeft);
        var imagey = this.height / (event.pageY - this.offsetTop);
        window.location.href='click_screenshot?origin=' + id +'&clickx=' + imagex +'&clicky=' + imagey;
    });
});
</script>
{% endblock %}

{% block content %}

<h2>{{header | safe }}</h2>

<div>
  {% for item in editform %}
  {{item | safe }}
  {% endfor %}
</div>

{% endblock %}
