{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function validate_walker() {
        var digitsOnlyNotEmptyPattern = "^[0-9]+$";
        var hourPattern = "((2[0-3]|[01]?[0-9]):([0-5][0-9]))";
        var rangeHoursPattern = "("+hourPattern+"-"+hourPattern+")";
        validateWalkervalueMsg = "";
        var rules = {
            countdown : [digitsOnlyNotEmptyPattern, "Please set correct number of seconds - digits only."],
            timer : ['^'+hourPattern+'$', "Please set correct time (24h format: XX:XX)."],
            round: [digitsOnlyNotEmptyPattern, "Please set correct number of rounds - digits only."],
            period : ['^'+rangeHoursPattern+'$', "Please set correct time (24h format: XX:XX-XX:XX)."],
            coords: ['^(|'+hourPattern+'|'+rangeHoursPattern+')$', "Please set correct time."],
            idle: ['^('+hourPattern+'|'+rangeHoursPattern+')$', "Please set correct time."],
        };
        var type = $("select[name='walkertype']").val();
        var value = $("input[name=walkervalue]").val();
        if (!(type in rules)) {
            console.log("No rule implemented for " + type + " please fix :)");
            return true;
        }
        var ruleToUse = new RegExp(rules[type][0], "");
        if (ruleToUse.test(value)) {
            return true;
        } else {
            validateWalkervalueMsg = rules[type][1];
            $("#walkervalue-error").remove()
            elem = '<em id="walkervalue-error" class="error help-block">'+ validateWalkervalueMsg +'</em>';
            $("input[name=walkervalue]").parent().append(elem);
            return false;
        }
    }
  $(document).ready(function () {
    $("#submit").click(function() {
        if(validate_walker() == false) {
            return;
        }
        $.blockUI({ message: '<img src="/static/loading.gif" width="100px" /><br /><h2>Saving shared device configuration...</h2>' });
        save_data = {
          'settings': {}
        }
      $(".form-control").each(function() {
          var obj = $(this);
          var name = obj.attr('name');
          value = null;
          if(obj.is('select')) {
              value = obj.children("option:selected").val();
          } else if(obj.is('input')) {
              value = obj.val();
          }
          if(value.length == 0)
              value = null;
          if(obj.attr('setting') == 'true') {
              save_data['settings'][name] = value;
          } else {
              save_data[name] = value;
          }
          if(save_data['pool'] == 'None') {
              save_data['pool'] = null;
          }
      });
      $.ajax({
        url : '{{ uri }}',
        data : JSON.stringify(save_data),
        type : '{{ 'PATCH' if element else 'POST' }}',
        contentType : 'application/json',
        success: function(data, status, xhr) {
          walkerarea_uri = xhr.getResponseHeader('X-Uri');
          walkerarea_data = {
            'setup': [walkerarea_uri]
          }
          if('{{ 'PATCH' if element else 'POST' }}' == 'POST') {
            $.ajax({
              beforeSend: function(xhr, settings) {
                xhr.setRequestHeader('X-Append', true);
              },
              url : '{{ walkeruri }}',
              data : JSON.stringify(walkerarea_data),
              type : 'PATCH',
              contentType : 'application/json',
              success: $(location).attr("href", '{{ redirect }}?id={{ walkeruri }}')
            });
          } else {
            $(location).attr("href", '{{ redirect }}?id={{ walkeruri }}');
          }
        }
      });
    });
  });
</script>
{% endblock %}

{% block content %}
{{ super() }}

{% if element %}
  <h1 class="display-4">Edit {{ walker.walkername }} ({{ areas[element.walkerarea].name }}) </h1>
{% else %}
  <h1 class="display-4">New WalkerArea for {{ walker.walkername }} </h1>
{% endif %}
<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <label>Area</label><br>
      <small class="form-text text-muted">Select the Area</small>
      <select class="form-control" name="walkerarea" required="" aria-invalid="false">
        {% for uri, area in areas.items() %}
          <option value="{{ uri }}" {{'selected="selected"' if uri == element.walkerarea }}>{{ area.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label>Walkermode</label><br>
      <small class="form-text text-muted">Choose the way to end the route:<br>
        <b>countdown</b>: Kill worker after X seconds<br>
        <b>timer</b>: Kill worker after X:XX o´clock (Format: 24h f.e. 21:30 -&gt; 9:30 pm)<br>
        <b>round</b>: Kill worker after X rounds<br>
        <b>period</b>: Kill worker if outside the period (Format: 24h f.e. 7:00-21:00)<br>
        <b>coords*</b>: Kill worker if no more coords are present<br>
        <b>idle*</b>: Idle worker and close Pogo till time or in period (check sleepmode of phone - display must be on in this time!)<br>
        <b>*Additionally for coords/idle (walkervalue):</b><br>
        - Kill worker after X:XX o´clock (Format: 24h)<br>
        - Kill worker if outside of a period (Format: 24h f.e. 7:00-21:00)<br>
      </small>
      <select class="form-control" name="walkertype" required="">
        {% for walkertype in walkertypes %}
        <option value="{{ walkertype }}" {{'selected="selected"' if walkertype == element.walkertype }}>{{ walkertype }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label>Value for Walkermode</label><br>
      <small class="form-text text-muted"></small>
      <input type="text" class="form-control" name="walkervalue" value="{{ element.walkervalue }}">
    </div>
    <div class="form-group">
      <label>Max. Walker in Area</label><br>
      <small class="form-text text-muted">Empty = infinitely</small>
      <input type="text" class="form-control" name="walkermax" value="{{ element.walkermax if element.walkermax else '' }}">
    </div>
    <div class="form-group">
      <label>Description</label><br>
      <small class="form-text text-muted"></small>
      <input type="text" class= "form-control" name="walkertext" value="{{ element.walkertext }}">
    </div>
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
  </div>
</div>
{% endblock %}
