{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $(".delete").click(function() {
        if(confirm('Are you sure you want to delete this resource?')) {
            var elem =  $(this);
            $.blockUI({ message: '<img src="{{ url_for('static', filename='loading.gif').lstrip('/') }}" width="100px" /><br /><h2>Deleting a {{ subtab }}...</h2>' });
            $.ajax({
                url : $(this).data('identifier'),
                type : 'DELETE',
                success: function(data, status, xhr) {
                    if(xhr.status == 202) {
                        elem.parent().parent().remove();
                        toggleConfiguredElement();
                    }
                },
                error: function(data, status, xhr) {
                    if(data.status == 412) {
                        var dependencies = JSON.parse(data.responseJSON);
                        var msg = 'The following entities have a dependency on this element:';
                        $.each(dependencies, function() {
                            msg += "\n"+ this['name'] +" ("+ this['uri'] +")";
                        });
                        alert(msg);
                    } else {
                        alert('Unable to save the {{ subtab }}.  An unknown error occurred');
                    }
                }
            });
            $.unblockUI();
        }
    });
    // Toggle on boot
    toggleConfiguredElement();
  });

  function toggleConfiguredElement() {
    if($(".delete").length == 0) {
        $('#no-configured-elements').show();
    } else {
        $('#no-configured-elements').hide();
    }
}
</script>
{% endblock %}

{% block content %}
{{ super() }}
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th style="width: 50%">Name</th>
      <th style="width: 30%">Settings</th>
      <th style="width: 20%" class= "text-right align-middle">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create new Area
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="settings/areas?id=new&mode=idle">[idle] Idle</a>
                <a class="dropdown-item" href="settings/areas?id=new&mode=iv_mitm">[iv_mitm] Mon IV</a>
                <a class="dropdown-item" href="settings/areas?id=new&mode=mon_mitm">[mon_mitm] Overlay scanner (MITM)</a>
                <a class="dropdown-item" href="settings/areas?id=new&mode=pokestops">[pokestops] Quest Discovery</a>
                <a class="dropdown-item" href="settings/areas?id=new&mode=raids_mitm">[raids_mitm] Raid Discovery</a>
            </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for area_id, area in area.items() %}
    <tr>
      <td class="align-middle">
        <a href="settings/areas?id={{ area_id }}&mode={{ area.mode }}">{{ area.name }}</a>
      </td>
      <td>
        <p style="font-size: 65%; min-height: 40px; display: inline-box">
        {% for key in area.settings|sort %}
        {%if area.settings[key] != "" %}
        {{ key }}: {{ area.settings[key] }}<br>
        {% endif %}
        {% endfor %}
        </p>
      </td>
      <td class="text-right align-middle">
        <button data-identifier='{{ area_id }}' type="button" class="delete btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id='no-configured-elements' class="alert alert-info">No areas configured</div>
{% endblock %}
