{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js" integrity="sha256-bu/BP02YMudBc96kI7yklc639Mu4iKGUNNcam8D2nLc="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js" integrity="sha256-Z3MmjesRY6rcd+sYj8tTwb/+EV/4msqGW7EZiQc3TK8="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="static/js/jquery.Aplus.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").click(function() {
            $.blockUI({ message: '<img src="{{ url_for('static', filename='loading.gif').lstrip('/') }}" width="100px" /><br /><h2>Saving {{ subtab }}...</h2>' });
            save_data = {};
            if($(".form-control[setting]").length > 0) {
                save_data['settings'] = {};
            }
            $(".form-control").each(function() {
                var obj = $(this);
                var name = obj.attr('name');
                value = null;
                if(obj.is('select')) {
                    value = obj.children("option:selected").val();
                } else if(obj.is('input')) {
                    value = obj.val();
                }
                if(value.length == 0)
                    value = null;
                if(obj.attr('setting') == 'true') {
                    save_data['settings'][name] = value;
                } else {
                    save_data[name] = value;
                }
                if(save_data['pool'] == 'None') {
                    save_data['pool'] = null;
                }
            });
            save_data['setup'] = generateAreas();
            $.ajax({
                url : "{{ uri }}",
                data : JSON.stringify(save_data),
                type : '{{ method }}',
                contentType : 'application/json',
                success: function(data, status, xhr) {
                  if(xhr.status < 400)
                    window.location.replace('{{ redirect }}');
                },
                error: function(data, status, xhr) {
                    $("label[for]").removeClass('btn-danger');
                    if(data['responseJSON'] != undefined) {
                        $.each(data['responseJSON']['missing'], function() {
                            var elem = $("label[for="+ this +"]");
                            elem[0].innerHTML = elem.attr('for') +' - Required Field';
                            elem.addClass('btn-danger');
                        });
                        $.each(data['responseJSON']['invalid'], function() {
                            var field = this.split(/:(.+)/)[0];
                            var expected = this.split(/:(.+)/)[1];
                            var elem = $("label[for="+ field +"]");
                            elem[0].innerHTML = elem.attr('for') +' - Expected '+ expected;
                            elem.addClass('btn-danger');
                        });
                        $.unblockUI();
                        alert('One or more fields failed validation');
                    } else {
                        $.unblockUI();
                        alert('Unable to save the {{ subtab }}.  An unknown error occurred');
                    }
                }
            });
        });

        $(".delete").click(function() {
            var row = $(this).parent().parent();
            msg = 'Are you sure you want to remove row'+ $(this).data('identifier');
            if(confirm(msg)) {
                $(row).remove();
                processChange();
            }
        });
    });

    var fixHelper = function(e, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    };

    $( "tbody" ).sortable({
        helper: fixHelper,
        handle: '.handle',
        delay: 150,
        stop: function() {
            processChange()
        }
    }).disableSelection();

    function generateAreas() {
        var areas = [];
        $('.row_position tr').each(function () {
            areas.push(this.id);
        });
        return areas;
    }

    function processChange() {
        $('.row_position tr').each(function (index) {
            $(this).find('.index')[0].innerHTML = index+1;
        });
    }

</script>
{% endblock %}

{% block content %}
{{ super() }}


<h1 class="display-4">{{ element.walkername }}</h1>
<div class="row">
    <div class="col-sm">
        <div class="form-group">
            <label for="walkername">walkername</label>
            <input type="input" class="form-control" id="walkername" name="walkername" value="{{ element.walkername }}">
            <small class="form-text text-muted">walkername</small>
        </div>
        <div class="form-group">
            <label for="setup">setup</label>
            <small class="form-text text-muted">Order of areas</small>
            <table class="table">
                <tbody>
                    <tr>
                        <th></th>
                        <th>Nr.</th>
                        <th>Area<br>Description</th>
                        <th>Walkermode</th>
                        <th>Setting</th>
                        <th>Max. Devices</th>
                        <th><a href='/settings/walker/areaeditor?id={{ uri }}'><button type="button" class="btn btn-success"><i class="fas fa-plus"></i></button></a></th>
                    </tr>
                </tbody>
                <tbody class="row_position ui-sortable">
                    {% for walkerarea_uri in element.setup %}
                        {% set area = walkerareaconfig[walkerarea_uri] %}
                        <tr id='{{ walkerarea_uri }}'>
                            <td><img src="static/sort.png" class="handle ui-sortable-handle"></td>
                            <td class='index'>{{ loop.index }}</td>
                            <td class='walkerarea' data-save='{{ area.walkerarea }}' data-walkertext='{{ area.walkertext }}'><b>{{ areas[area['walkerarea']].name }}</b><br>{{ area.walkertext }}</td>
                            <td class='walkertype' data-save='{{ area.walkertype }}'>{{ area.walkertype }}</td>
                            <td class='walkervalue' data-save='{{ area.walkervalue }}'>{{ area.walkervalue }}</td>
                            <td class='walkermax' data-save='{{ area.walkermax }}'>{{ area.walkermax }}</td>
                            <td>
                                <a href="/settings/walker/areaeditor?id={{ uri }}&walkerarea={{ walkerarea_uri }}"><button type="button" class="btn btn-success btn-sm edit" data-identifier="{{ loop.index }}"><i class="far fa-edit"></i></button></a>
                                <button type="button" class="btn btn-danger btn-sm delete" data-identifier="{{ loop.index }}"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
</div>
{% endblock %}

