{% extends "settings.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<h1 class="display-4">{{sharedsetting.devicepool}}</h1>

<form action="settings/shared?setting={{sharedsetting.devicepool}}" method="post">
<div class="row">
  <div class="col-sm-8">
    {% for field in settings_vars.settings|sort(attribute="name") %}
    <div class="form-group">
      <label for="{{field.name}}">{{field.name}}</label>
      {% if field.settings.type == "option" %}
      <select class="form-control" name="{{field.name}}">
        {% for option in field.settings["values"].split("|") %}
        <option value="{{option}}" {{'selected="selected"' if option == sharedsetting.settings[field.name]}}>{{option}}</option>
        {% endfor %}
      </select>
      {% else %}
      <input type="{{field.settings.type}}" name="{{field.name}}" class="form-control" id="{{field.name}}" value="{{sharedsetting.settings[field.name] if not 'None' else ''}}">
      {% endif %}
      <small class="form-text text-muted">{{field.settings.description}}</small>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>
  </div>
</div>
</form>
{% endblock %}
