{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="static/style/madmin.css" />
{% endblock %}

{% block scripts %}
<style>
    div.container {
        width: 80%;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script>
    var dataTable;

    function setGrid(tableGridHtmlId, gridData) {
        if ($.fn.dataTable.isDataTable(tableGridHtmlId)) {
            dataTable.destroy();
        }

        dataTable = $(tableGridHtmlId).DataTable({
            "data": gridData,
            "columns": [
                { data: 'origin', title: 'Origin' },
                { data: 'routemanager', title: 'Route' },
                { data: 'routePos', title: 'Route Pos' },
                { data: 'routeMax', title: 'Route Length' },
                { data: 'init', title: 'Init Mode' },
                { data: 'lastProtoDateTime', title: 'Last Date/Time of Data' },
                { data: 'currentSleepTime', title: 'Next Action' },
                { data: 'restartCounter', title: 'Restart Counter' },
                { data: 'rebootingOption', title: 'Reboot Device' },
                { data: 'rebootCounter', title: 'Reboot Counter' },
                { data: 'lastPogoRestart', title: 'Last Restart' },
                { data: 'lastPogoReboot', title: 'Last Reboot' },
                { data: 'globalrestartcount', title: 'Total Restarts' },
                { data: 'globalrebootcount', title: 'Total Reboots' },
                { data: 'currentPos', title: 'Current Pos' },
                { data: 'lastPos', title: 'Last Pos' }
            ],
            "columnDefs": [
                {
                    "targets": [3],
                    "visible": false
                },
                {
                    "targets": [2],
                    "render": function (data, type, row) {
                        return row.routePos + "/" + row.routeMax
                    }
                },
                {
                    "targets": [5],
                    "render": function (data, type, row) {
                        var dateToShow = moment(data);
                        if (dateToShow.isValid()) {
                            return dateToShow.fromNow();
                        }

                        return "None";
                    }
                },
                {
                    "targets": [6],
                    "render": function (data, type, row) {
                        if(data == '0' || data == 0) {
                            return 'Now'
                        }
                        var dateToShow = new moment().add(parseInt(data),"seconds")

                        return dateToShow.fromNow(true);
                    }
                }
            ],
            "order": [[0, "asc"]],
            "responsive": {{ responsive }},
            "autoWidth": false,
            "stateSave": true,
            "stateSaveCallback": function(settings,data) {
            localStorage.setItem( 'MAD_STATUS_' + settings.sInstance, JSON.stringify(data) )
            },
            "stateLoadCallback": function(settings) {
            return JSON.parse( localStorage.getItem( 'MAD_STATUS_' + settings.sInstance ) )
            }
        });
    }

    function getStatusData() {
        return $.ajax({
            type: "GET",
            url: "get_status",
            success: function (result) {
                return result;
            }
        });
    }

    function reloadGrid() {
        getStatusData().then(function (result) {
            setGrid('#show-data', result);
        });
    }

    $(document).ready(function () {
        $("#navstatus").addClass("active");

        getStatusData().then(function (result) {
            setGrid('#show-data', result);
            setInterval(reloadGrid, 10000);
        });
    });
</script>

{% endblock %}

{% block content %}
<h2>Worker Status</h2>
<table id="show-data" class="table"></table>
{% endblock %}
