{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<script>
  function setGrid(tableGridHtmlId, gridData) {
    $(tableGridHtmlId).DataTable({
      "data": gridData,
      "columns": [
        { data: 'fence', title: 'Fence', responsivePriority: 1, },
        { data: 'event', title: 'Type/Event', responsivePriority: 8 },
        { data: 'mode', title: 'Mode', responsivePriority: 7 },
        { data: 'sum', title: 'Spawnpoints', responsivePriority: 4, },
        { data: 'known', title: 'Known', responsivePriority: 6 },
        { data: 'unknown', title: 'Unknown', responsivePriority: 5 },
        { data: null, title: '% known', responsivePriority: 2 },
        { data: null, title: 'Actions', orderable: false, responsivePriority: 3 }
      ],
      "columnDefs": [
        {
          "targets": [6],
          "render": function (data, type, row) {


            return `<span style="white-space: nowrap">${parseFloat((row.known / row.sum * 100)).toFixed(2) + "%"}</span>`
          }
        },
        {
          "targets": [7],
          "render": function (data, type, row) {
            var all = `<a class="btn btn-primary btn-sm" href="spawn_details?id=${row.area_id}&eventid=${row.eventid}&index=${row.index}&event=${row.event}&mode=ALL" data-toggle="tooltip" title="Show all Spawnpoints (${row.sum})"><i class="fa fa-eye"></i></a>`;
            var del = `<button type="button" class="delete btn btn-danger btn-sm confirm" data-areaid="${row.area_id}" data-index="${row.index}" data-eventid="${row.eventid}" data-toggle="tooltip" title="Delete all spawnpoints"><span class="delete_div"><i class="fa fa-trash"></i></span></button>`;
            var conv = "";
            var activetoday = "";
            var outdated = "";

            if (row.event == "DEFAULT") {
              outdated = "<button type='button' class='btn btn-dark btn-sm'><a href='#' data-toggle='tooltip' title='No dead spawnpoints'><i class='fa fa-minus-circle'></i></a></button>";
              if (row.outdatedspawns > 0) {
                outdated = `<button type="button" class="outdated btn btn-dark btn-sm" data-toggle="tooltip" title="Show dead spawnpoints (${row.outdatedspawns})"><a href="spawn_details?id=${row.area_id}&index=${row.index}&eventid=${row.eventid}&event=${row.event}&mode=OLD"><i class="fa fa-history"></i></a></button>`;
              }
            }

            if (row.event != "DEFAULT") {
              conv = `<button type="button" class="convert btn btn-info btn-sm" data-areaid="${row.area_id}" data-index="${row.index}" data-eventid="${row.eventid}" data-toggle="tooltip" title="Convert event spawnpoints"><span class="convert_div"><i class="fa fa-exchange-alt"></i></span></button>`;
              activetoday = "<button type='button' class='btn btn-success btn-sm' data-toggle='tooltip' title='Has currently active event spawnpoints'><i class='fa fa-minus-circle'></i></button>";
              if (row.todayspawns > 0) {
                activetoday = `<button type="button" class="activetoday btn btn-success btn-sm"><a href="spawn_details?id=${row.area_id}&index=${row.index}&eventid=${row.eventid}&event=${row.event}&mode=ACTIVE" data-toggle="tooltip" title="Check still active event spawnpoints (${row.todayspawns})"><i class='fa fa-clock'></i></a></button>`;
              }
            }
            return `<span style="white-space: nowrap">${all} ${del} ${activetoday} ${outdated} ${conv}</span>`
          }
        }
      ],
      "drawCallback": function () {
        $("img.lazy").lazyload();
        $("[data-toggle='tooltip']").tooltip();
      },
      "responsive": {{ responsive }},
  "order": [[0, "asc"]],
    "stateSave": true,
      "stateDuration": 0,
        "stateSaveCallback": function(settings, data) {
          localStorage.setItem('MAD_aeSP_' + settings.sInstance, JSON.stringify(data))
        },
  "stateLoadCallback": function(settings) {
    return JSON.parse(localStorage.getItem('MAD_aeSP_' + settings.sInstance))
  }
        });
  }

  function loadData() {
    loadingBlockUI("Loading");
    $('body').Aplus();
    $("#navgyms").addClass("active");
    $.ajax({
      type: "GET",
      url: "get_spawnpoints_stats" + "?type=" + $("#geofence_type_selector").val(),
      success: function (result) {
        setTimeout($.unblockUI, 100);
        setGrid('#show-spawnpoints-stats', result.spawnpoints);
        $("[data-toggle='tooltip']").tooltip();
      }
    });
  }

  function loadDataByFence() {
    loadingBlockUI("Loading");
    $('body').Aplus();
    $("#navgyms").addClass("active");
    $.ajax({
      type: "GET",
      url: "get_spawnpoints_stats" + "?fence=" + $("select#geofence_type_selector_overkill").val(),
      success: function (result) {
        setTimeout($.unblockUI, 100);
        setGrid('#show-spawnpoints-stats', result.spawnpoints);
        $("[data-toggle='tooltip']").tooltip();
      }
    });
  }

  function enableOverkillMode() {
    destroyDatatable("#show-spawnpoints-stats");
    $("#geofence_type_selector_span").hide();
    $("div#geofence_type_selector_overkill").show();
    $("select#geofence_type_selector_overkill").change(function () {
      destroyDatatable("#show-spawnpoints-stats");
      loadDataByFence();
    });
  }

  function enableNormalMode() {
    destroyDatatable("#show-spawnpoints-stats");
    $("div#geofence_type_selector_overkill").hide();
    $("#geofence_type_selector_span").show();
    $("#geofence_type_selector").change(function () {
      destroyDatatable("#show-spawnpoints-stats");
      loadData();
    });
    loadData();
  }

  function destroyDatatable(selector) {
    if ($.fn.DataTable.isDataTable(selector)) {
      $(selector).DataTable().destroy();
    }
  }

  function loadSummary() {
    loadingBlockUI("Quick check, please wait.");
    $('body').Aplus();
    $("#navgyms").addClass("active");
    $.ajax({
      type: "GET",
      url: "get_spawnpoints_stats_summary",
      success: function (result) {
        var tmp_fences = Object.keys(result.fences).map(k => result.fences[k]);
        var mon_mitm_fences_count = tmp_fences.filter(fence => fence.mode === "mon_mitm").length
        tmp_fences.sort(function (a, b) {
          return a["name"].toLowerCase() > b["name"].toLowerCase() ? 1 : -1;
        });
        $("select#geofence_type_selector_overkill").append($('<option>', { value: -1, text: "-- select geofence --" }));
        for (fence in tmp_fences) {
          $("select#geofence_type_selector_overkill").append($('<option>', { value: tmp_fences[fence].area_id, text: tmp_fences[fence].name + " [" + tmp_fences[fence].mode + "]" }));
        }
        // 1500000 is totally arbitrary number, it all depends from database, number of events, etc.
        if (result.events.length * result.spawnpoints_count * mon_mitm_fences_count > 1500000) {
          // Enable overkill mode aka single area selector. Better than loading for 10 minutes.
          $.unblockUI();
          enableOverkillMode();
        } else {
          enableNormalMode();
        }
      }
    });
  }


  $(document).ready(function () {
    loadSummary();
    $("a#overkill_mode").click(function () {
      enableOverkillMode();
    });
    $("a#normal_mode").click(function () {
      if (confirm("We detected you have a lot of spawns*events*geofences, switching to normal mode can take a long time and provide no more functionality than current mode. Just shows more geofences at the same time. Do you really want to switch?")) {
        enableNormalMode();
      }
    });
  });

  $("#show-spawnpoints-stats").on("click", ".convert", function (e) {
    e.stopImmediatePropagation();
    var r = confirm("Do you really want to convert the spawnpoint(s) to normal one(s)?");
    if (r != true) {
      return;
    }
    var convert_div = $(this).find(".convert_div");
    convert_div.empty();
    elem = $(document.createElement("img")).attr({
      'src': "{{ url_for('static', filename='loading.gif') }}",
      'class': 'convert_disp fa',
      'width': '13px',
      'heigth': '13px'
    });
    var areaid = $(this).data('areaid');
    var eventid = $(this).data('eventid');
    var index = $(this).data('index');
    convert_div.append(elem);

    $.ajax({
      type: 'GET',
      url: 'convert_spawns',
      data: 'id=' + areaid + '&eventid=' + eventid + '&index=' + index,
      success: function (msg) {
        if (msg.status == 'success') {
          destroyDatatable("#show-spawnpoints-stats");
          loadData();
        } else if (msg.status == 'event') {
          alert('Event is still active.');
          convert_div.empty();
          elem = $(document.createElement("i")).attr({
            'class': 'fa fa-minus-circle',
          });
          convert_div.append(elem);
        }
      },
      error: function (msg) {
        alert(msg);
        convert_div.empty();
        elem = $(document.createElement("i")).attr({
          'class': 'fa fa-minus-circle',
        });
        convert_div.append(elem);
      }
    });

  });

  $("#delete_unfenced_coords").on("click", "button.delete", function (e) {
    e.stopImmediatePropagation();
    var r = confirm("You really want to delete all unfenced spawnpoints?");
    if (r != true) {
      return;
    }
    var delete_div = $(this).find(".delete_all_div");
    delete_div.empty();
    elem = $(document.createElement("img")).attr({
      'src': "{{ url_for('static', filename='loading.gif') }}",
      'class': 'convert_disp fa',
      'width': '13px',
      'heigth': '13px'
    });
    delete_div.append(elem);

    $.ajax({
      type: 'GET',
      url: 'delete_unfenced_spawns',
      success: function (msg) {
        if (msg.status == 'success') {

          delete_div.empty();
          elem = $(document.createElement("i")).attr({
            'class': 'fa fa-check',
          });
          delete_div.append(elem);
        }
      },
      error: function (msg) {
        alert(msg);
        delete_div.empty();
        elem = $(document.createElement("i")).attr({
          'class': 'fa fa-minus-circle',
        });
        delete_div.append(elem);
      }
    });

  });

  $("#show-spawnpoints-stats").on("click", ".delete", function (e) {
    e.stopImmediatePropagation();
    var r = confirm("You really want to delete these spawnpoints?");
    if (r != true) {
      return;
    }
    var delete_div = $(this).find(".delete_div");
    var parentRow = $(this).closest("tr")[0];

    delete_div.empty();
    elem = $(document.createElement("img")).attr({
      'src': "{{ url_for('static', filename='loading.gif') }}",
      'class': 'convert_disp fa',
      'width': '13px',
      'heigth': '13px'
    });
    delete_div.append(elem);
    var areaid = $(this).data('areaid');
    var eventid = $(this).data('eventid');
    var index = $(this).data('index');


    $.ajax({
      type: 'GET',
      url: 'delete_spawns',
      data: 'id=' + areaid + '&eventid=' + eventid + '&index=' + index,
      success: function (msg) {
        if (msg.status == 'success') {
          $("#show-spawnpoints-stats").DataTable().rows(parentRow)
            .remove()
            .draw();
        } else if (msg.status == 'event') {
          alert('Event is still active.');
          delete_div.empty();
          elem = $(document.createElement("i")).attr({
            'class': 'fa fa-minus-circle',
          });
          delete_div.append(elem);
        }
      },
      error: function (msg) {
        alert(msg);
        delete_div.empty();
        elem = $(document.createElement("i")).attr({
          'class': 'fa fa-minus-circle',
        });
        delete_div.append(elem);
      }
    });

  });

</script>
<style>
  table.dataTable tr.odd {
    background-color: #F8F8F8;
  }

  table.dataTable tr.even {
    background-color: white;
  }
</style>

<style type="text/css">
  #flot_usage {
    width: 100%;
    height: 300px;
  }

  i.fa {
    color: white;
  }

  #flot_spawn {
    width: 100%;
    height: 300px;
  }

  #flot_quest {
    width: 100%;
    height: 300px;
  }

  #flot_gym {
    width: 100%;
    height: 300px;
  }

  #flot_stop {
    width: 100%;
    height: 300px;
  }

  #legendContainer {
    background-color: #fff;
    padding: 2px;
    margin-bottom: 8px;
    display: inline-block;
    margin: 0 auto;
  }

  #flotcontainer {
    width: 600px;
    height: 200px;
    text-align: left;
  }

  #selector {
    font-size: 1.5em;
    margin: 10px;
  }

  table.dataTable tr.odd {
    background-color: #F8F8F8;
  }

  table.dataTable tr.even {
    background-color: white;
  }
</style>
{% endblock %}

{% block content %}
<h2>Spawnpoint Stats</h2>
<div class="row">
  <div class="col">
    <div id="geofence_type_selector_span" style="display:none;">
      Modes:
      <select name="geofence_type_selector" id="geofence_type_selector">
        <option value="mon_mitm" selected="selected">Mons [mon_mitm]</option>
        <option value="iv_mitm">IVs [iv_mitm]</option>
        <option value="pokestops">Quests [pokestops]</option>
        <option value="raids_mitm">Raids [raids_mitm]</option>
        <option value="idle">Idle [idle]</option>
      </select>
      <a href="#" id="overkill_mode" class="btn btn-primary btn-sm">Show geofences</a></span>
    </div>
    <div id="geofence_type_selector_overkill" style="display:none;">
      Geofences: <select name="geofence_type_selector_overkill" id="geofence_type_selector_overkill"></select>
      <a href="#" id="normal_mode" class="btn btn-primary btn-sm">Show modes</a></span>
    </div>
  </div>
</div>

<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
<div class="p-3 mb-2 bg-secondary text-white">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
</p>

<table id="show-spawnpoints-stats" class="table" style="width:100%;"></table>

<div class="row">
  <div class="col">
    <div id="delete_unfenced_coords">
      <button type='button' class='delete btn btn-danger btn-sm'>
        <div class='delete_all_div' style='display:inline;'><i class='fa fa-trash'></i> Delete all unfenced spawnpoints
        </div>
      </button>
    </div>
  </div>
</div>
{% endblock %}