{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
<script type="text/javascript" src="static/js/jquery.Aplus.min.js"></script>


<script>
    function setGrid(tableGridHtmlId, gridData) {
        $(tableGridHtmlId).DataTable({
            "data": gridData,
            "columns": [
                    { data: 'fence', title: 'Fence' },
                    { data: 'event', title: 'Type/Event' },
                    { data: 'mode', title: 'Mode' },
                    { data: 'sum', title: 'Spawnpoints' },
                    { data: 'known', title: 'known' },
                    { data: 'unknown', title: 'unknown' },
                    { data: '', title: 'Actions' }
            ],
            "columnDefs": [
                {
                    "targets": [6],
                    "render": function (data, type, row) {
                        var del = "<button type='button' class='delete btn btn-danger btn-sm'><a href='delete_spawns?id=" + row.area_id + "&eventid=" + row.eventid + "' class='confirm' title='Do you really want to delete that Spawnpoints?'><i class='fa fa-trash'></i></a></button>";
                        var conv = "";
                        if (row.event != "DEFAULT") {
                            var conv = "<button type='button' class='delete btn btn-info btn-sm'><a href='convert_spawns?id=" + row.area_id + "&eventid=" + row.eventid + "' class='confirm' title='Do you really want to convert that Spawnpoints to normal Spawnpoints?'><i class='fa fa-exchange-alt'></i></a></button>";
                        }
                             return del + " " + conv

                    }
                }
            ],
            "drawCallback": function () {
                $("img.lazy").lazyload();
            },
            "responsive": {{ responsive }},
            "order": [[ 0, "asc" ]],
            "ordering": false,
            "stateSave": true,
            "stateDuration": 0,
            "stateSaveCallback": function(settings,data) {
            localStorage.setItem( 'MAD_SP_' + settings.sInstance, JSON.stringify(data) )
            },
            "stateLoadCallback": function(settings) {
            return JSON.parse( localStorage.getItem( 'MAD_SP_' + settings.sInstance ) )
            }

        });
	}

    $(document).ready(function () {
        $.blockUI({ message: '<img src="{{ url_for('static', filename='loading.gif').lstrip('/') }}" width="100px" /><br /><h2>Load...</h2>' });
        $('body').Aplus();
        $("#navgyms").addClass("active");
        $.ajax({
            type: "GET",
            url: "get_spawnpoints_stats",
            success: function (result) {
                setTimeout($.unblockUI, 100);
                setGrid('#show-spawnpoints-stats', result.spawnpoints);
            }
        });
    });
</script>
<style>
    table.dataTable tr.odd { background-color: #F8F8F8; }
    table.dataTable tr.even { background-color: white; }
</style>



<style type="text/css">
    #flot_usage {
        width: 100%;
        height: 300px;
    }

    i.fa {
        color: white;
    }

    #flot_spawn {
        width: 100%;
        height: 300px;
    }

    #flot_quest {
        width: 100%;
        height: 300px;
    }

    #flot_gym {
        width: 100%;
        height: 300px;
    }

    #flot_stop {
        width: 100%;
        height: 300px;
    }

    #legendContainer {
        background-color: #fff;
        padding: 2px;
        margin-bottom: 8px;
        display: inline-block;
        margin: 0 auto;
    }

    #flotcontainer {
        width: 600px;
        height: 200px;
        text-align: left;
    }

    #selector {
        font-size: 1.5em;
        margin: 10px;
    }
    table.dataTable tr.odd { background-color: #F8F8F8; }
    table.dataTable tr.even { background-color: white; }
</style>


{% endblock %}

{% block content %}
<h2>Spawnpoint Statistics</h2>
<table id="show-spawnpoints-stats" class="table" style="width:100%;"></table>
{% endblock %}
